<!-- =====================================================================================================================================================
                                                                6 Step Guide
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <h2 class="heading">6 Step Guide to Building Your Dream Ring<br> with Stienhardt & Stones</h2>
            <div class="subHeading">At Stienhardt & Stones, we realized that as much as every couple is different,
                so ought their rings be as well. Below are six simple steps that should prove
                useful to anyone seeking to have their dream ring made:</div>
        </div>
        
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Our Culture
=====================================================================================================================================================-->
<Section>

        
        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg">
            <div class="col-lg-6 GuideStepTextPadd order-1 order-lg-0">
                <h2 class="heading text-start mb-3">Step 1: Choose Your Setting</h2>
                <div class="aboutDesc">
                    Your ring’s setting is the base on which the whole style of the piece is built. What about plain and simple solitaire engagement rings or even a super trendy halo, or maybe a retro one? Check the large collection of clothes provided below to define what type of personality and taste you have.
                </div>
                <ul class="mt-4">
                    <li><strong>Solitaire:</strong> Classic and classy, it’s for the no-nonsense kind of person, middle-aged women and those who do not like complicated designs.</li><br>
                    <li><strong>Halo:</strong> Comes with other additional stones particularly diamonds that go round the middle gem.</li><br>
                    <li><strong>Three-Stone:</strong> Representing the then, now and the future as a couple.</li><br>
                    <li><strong>Vintage:</strong> Men with romantic designs influenced by past derivatives of elaborate work.</li>
                </ul>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0 px-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/collection-elegant-rings-featuring-sparkling-gemstones-displayed-soft-blush-cushion-surrounded-blurred-floral-background.jpg?v=1740135874" alt="A collection of elegant rings featuring sparkling gemstones, displayed on a soft blush cushion, surrounded by a blurred floral background." draggable="false" class="img-fluid">
            </div>
        </div>

    
        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg">
            <div class="col-lg-6 mb-4 mb-lg-0 px-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/close-sparkling-diamonds-black-velvet-surface-showcasing-brilliant-cuts-reflections.jpg?v=1740135957" alt="Close-up of sparkling diamonds on a black velvet surface, showcasing their brilliant cuts and reflections." draggable="false" class="img-fluid">
            </div>
            <div class="col-lg-6 GuideStepTextPadd">
                <h2 class="heading text-start mb-3">Step 2: Select Your Lab-Grown Diamond</h2>
                <div class="aboutDesc">
                    These lab grown diamonds are atomically identical to natural diamonds, and much more eco-friendly. Choose the shape that speaks to you, such as:
                </div>
                <ul class="my-4">
                    <li><strong>Round Brilliant:</strong> It comes in this shape because it provides the brightest sparkle of all the shapes.</li><br>
                    <li><strong>Princess Cut:</strong> For a modern and edgy vibe.</li><br>
                    <li><strong>Oval:</strong> Suitable for those who want to give the traditional classiness a little twist.</li><br>
                    <li><strong>Emerald:</strong> Looking trendy and stylish and has a very old world charm.</li>
                </ul>
                <div class="aboutDesc">
                    For carat, cut, color, and clarity, pick your specific diamond in a range of price points.
                </div>
            </div>
        </div>
        
        
        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg">
            <div class="col-lg-6 GuideStepTextPadd order-1 order-lg-0">
                <h2 class="heading text-start mb-3">Step 3: Pick Your Metal</h2>
                <div class="aboutDesc">
                    That is why the choice of a metal determines the general appearance of the ring you are going to order. Stienhardt & Stones offers a range of options:
                </div>
                <ul class="mt-4">
                    <li><strong>White Gold:</strong> Sleek, modern, and versatile.</li><br>
                    <li><strong>Rose Gold:</strong> Warm, romantic, and trendy.</li><br>
                    <li><strong>Yellow Gold:</strong> Classic and timeless.</li><br>
                    <li><strong>Platinum:</strong> Hardwearing and rich in appearance with an attractive glimmer.</li>
                </ul>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0 px-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/close-elegant-gold-rings-featuring-polished-brushed-finishes-one-adorned-sparkling-diamonds.jpg?v=1740135933" alt="A close-up of elegant gold rings, featuring polished and brushed finishes, with one adorned with sparkling diamonds." draggable="false" class="img-fluid">
            </div>
        </div>

    
        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg">
            <div class="col-lg-6 mb-4 mb-lg-0 px-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/jeweler-carefully-inspects-silver-ring-diamonds-using-tools-equipment-workbench-dimly-lit-workshop.jpg?v=1740135906" alt="A jeweler carefully inspects a silver ring with diamonds, using tools and equipment on a workbench in a dimly lit workshop." draggable="false" class="img-fluid">
            </div>
            <div class="col-lg-6 GuideStepTextPadd">
                <h2 class="heading text-start mb-3">Step 4: Customize Your Design</h2>
                <div class="aboutDesc">
                    Personalization must be incorporated through engravings, unique and artistic work or special settings. You can include details like:
                </div>
                <ul class="my-4">
                    <li>Miscellaneous prints or messages or even dates that make your ring stand out as a unique piece of jewel.</li><br>
                    <li>Add birthstones to the inside of the band to represent a connection between your significant other and loved ones.</li><br>
                    <li>Mix it up with filigree and pave to give a vintage look!</li>
                </ul>
                <div class="aboutDesc">
                    Here are our experts to make sure your vision becomes a reality.
                </div>
            </div>
        </div>
        
        
        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg">
            <div class="col-lg-6 GuideStepTextPadd order-1 order-lg-0">
                <h2 class="heading text-start mb-3">Step 5: Select Your Band</h2>
                <div class="aboutDesc">
                    Visualize how the engagement ring will wear next to your new band or how your new band will look next to your engagement ring. Whether you want a matching set or a complementary style, we have bands in a variety of designs:
                </div>
                <ul class="my-4">
                    <li><strong>Pave Band:</strong> Additional small diamonds set on the band in order to create and enhance the shimmer of the ring.</li><br>
                    <li><strong>Plain Band:</strong> This one is very simple and even plain but its simplicity is actually its beauty as it leaves all the focus to your diamond.</li><br>
                    <li><strong>Twisted or Braided Bands:</strong> For a unique, organic look.</li>
                </ul>
                <div class="aboutDesc">
                    Different jewelry combinations can be easily visualized using our virtual ring stacking tool.
                </div>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0 px-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/collection-gold-diamond-rings-displayed-table-sign-reading-steinhardt-stones-background.jpg?v=1740135988" alt="A collection of gold and diamond rings is displayed on a table, with a sign reading "Steinhardt & Stones" in the background." draggable="false" class="img-fluid">
            </div>
        </div>

    
        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg">
            <div class="col-lg-6 mb-4 mb-lg-0 px-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/sparkling-engagement-ring-displayed-soft-cloth-magnifying-glass-electronic-tablet-showing-digital-image.jpg?v=1740136013" alt="A sparkling engagement ring displayed on a soft cloth, with a magnifying glass and an electronic tablet showing its digital image." draggable="false" class="img-fluid">
            </div>
            <div class="col-lg-6 GuideStepTextPadd">
                <h2 class="heading text-start mb-3">Step 6: Review and Finalize</h2>
                <div class="aboutDesc">
                    When you have finalized every aspect, what you need is a final check. Look at the features and confirm all the features provided match the imaginations more so go ahead and buy. Your ring will be built by our team specially to conform with the best standards.
                </div><br>
                <div class="aboutDesc">
                    Your specially designed wedding ring will arrive in an environmentally-friendly case with which to mark your occasion.
                </div>
            </div>
        </div>


</Section>







{% schema %}
    {
    "name": "6 Step Ring Building",
    "tag": "section",
    "presets": [
      {
        "name": "6 Step Ring Building Guide"
      }
    ]
  }  
{% endschema %}

