<!-- =====================================================================================================================================================
  Breadcrumb
  ===================================================================================================================================================== -->
<section>
    <div class="BGBreadcrumb" id="breadcrumb_container">
            
    </div>
</section>
<!-- =====================================================================================================================================================
          Blog Post
          ===================================================================================================================================================== -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 pe-lg-4 pe-xl-5">
                
                <div id="blog_post_content">

                </div>






                <div id="blog_post_content_container">

                </div>


                <div class="my-4 d-flex justify-content-start align-items-center  flex-wrap">
                    <div class="pe-3 cfw-Medi cl-theme">Share :</div>
                    <a class="cusA p-1 BlogSocialicon" id="share-facebook-button" target="_blank" href="#"> <svg fill="none" viewBox="0 0 26 26" height="26"
                            width="26" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_260_6678)">
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M26 13C26 5.81953 20.1805 0 13 0C5.81953 0 0 5.81953 0 13C0 20.1805 5.81953 26 13 26C13.0762 26 13.1523 26 13.2285 25.9949V15.8793H10.4355V12.6242H13.2285V10.2273C13.2285 7.44961 14.9246 5.93633 17.4027 5.93633C18.591 5.93633 19.6117 6.02266 19.9062 6.06328V8.96797H18.2C16.8543 8.96797 16.5902 9.60781 16.5902 10.5473V12.6191H19.8148L19.3934 15.8742H16.5902V25.4973C22.0238 23.9383 26 18.9363 26 13Z">
                                </path>
                            </g>
                            <defs>
                                <clipPath id="clip0_260_6678">
                                    <rect fill="white" height="26" width="26"></rect>
                                </clipPath>
                            </defs>
                        </svg> 
                    </a> 
                    <a class="cusA p-1 BlogSocialicon" id="share-instagram-button" target="_blank" href="#"> <svg fill="none" viewBox="0 0 26 26"
                            height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_260_6673)">
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M15.4883 13C15.4883 14.3743 14.3742 15.4883 13 15.4883C11.6258 15.4883 10.5117 14.3742 10.5117 13C10.5117 11.6258 11.6258 10.5117 13 10.5117C14.3742 10.5117 15.4883 11.6258 15.4883 13Z">
                                </path>
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M18.8191 8.59752C18.6994 8.27327 18.5086 7.97997 18.2607 7.73916C18.0199 7.49119 17.7266 7.30038 17.4023 7.18077C17.1393 7.07865 16.7442 6.95703 16.0163 6.92392C15.229 6.88802 14.993 6.88025 12.9998 6.88025C11.0065 6.88025 10.7704 6.88781 9.98333 6.92372C9.25553 6.95703 8.86015 7.0786 8.59735 7.18077C8.27306 7.30033 7.97973 7.49115 7.739 7.73916C7.49104 7.97997 7.30016 8.27327 7.18041 8.59752C7.07829 8.86056 6.95666 9.2559 6.92355 9.98369C6.88765 10.7708 6.87988 11.0068 6.87988 13.0002C6.87988 14.9934 6.88765 15.2294 6.92355 16.0167C6.95666 16.7445 7.07829 17.1397 7.18041 17.4027C7.30009 17.7269 7.49089 18.0202 7.7388 18.261C7.97957 18.509 8.27288 18.6998 8.59715 18.8194C8.8602 18.9217 9.25553 19.0434 9.98333 19.0765C10.7704 19.1124 11.0063 19.1199 12.9996 19.1199C14.9932 19.1199 15.2292 19.1124 16.0161 19.0765C16.7439 19.0434 17.1393 18.9217 17.4023 18.8194C17.7243 18.6952 18.0166 18.505 18.2607 18.261C18.5047 18.017 18.6949 17.7246 18.8191 17.4027C18.9212 17.1396 19.0428 16.7446 19.0761 16.0167C19.112 15.2294 19.1196 14.9934 19.1196 13.0002C19.1196 11.0068 19.112 10.7708 19.0761 9.98369C19.043 9.2559 18.9214 8.86051 18.8191 8.59752ZM12.9998 16.8332C10.8827 16.8332 9.16646 15.1171 9.16646 13C9.16646 10.8829 10.8827 9.16683 12.9998 9.16683C15.1168 9.16683 16.833 10.8829 16.833 13C16.833 15.1171 15.1168 16.8332 12.9998 16.8332ZM16.9846 9.91108C16.4899 9.91108 16.0888 9.50995 16.0888 9.01529C16.0888 8.52063 16.4899 8.11946 16.9846 8.11946C17.4793 8.11946 17.8804 8.52053 17.8804 9.01524C17.8802 9.50995 17.4793 9.91108 16.9846 9.91108Z">
                                </path>
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M13 0C5.82141 0 0 5.82141 0 13C0 20.1786 5.82141 26 13 26C20.1786 26 26 20.1786 26 13C26 5.82141 20.1786 0 13 0ZM20.4198 16.0776C20.3837 16.8723 20.2574 17.4148 20.0729 17.8897C19.8811 18.3856 19.5878 18.8359 19.2119 19.2119C18.8359 19.5878 18.3856 19.8811 17.8897 20.0729C17.415 20.2574 16.8723 20.3835 16.0778 20.4198C15.2818 20.4561 15.0275 20.4648 13.0002 20.4648C10.9727 20.4648 10.7186 20.4561 9.92235 20.4198C9.12793 20.3835 8.58523 20.2574 8.11048 20.0729C7.61232 19.8855 7.16107 19.5916 6.78823 19.2118C6.40853 18.8389 6.11474 18.3877 5.92734 17.8897C5.74285 17.415 5.61651 16.8723 5.5804 16.0778C5.54369 15.2816 5.53516 15.0273 5.53516 13C5.53516 10.9727 5.54369 10.7184 5.5802 9.9224C5.61625 9.12773 5.74244 8.58523 5.92693 8.11032C6.11439 7.61221 6.40831 7.16101 6.78818 6.78823C7.16098 6.4084 7.61219 6.11453 8.11032 5.92714C8.58523 5.74265 9.12773 5.61651 9.9224 5.5802C10.7184 5.54389 10.9727 5.53516 13 5.53516C15.0273 5.53516 15.2816 5.54389 16.0776 5.58035C16.8723 5.61651 17.4148 5.74265 17.8897 5.92693C18.3878 6.11443 18.8391 6.40834 19.212 6.78818C19.5917 7.16103 19.8855 7.61223 20.0729 8.11032C20.2576 8.58523 20.3837 9.12773 20.42 9.9224C20.4563 10.7184 20.4648 10.9727 20.4648 13C20.4648 15.0273 20.4563 15.2816 20.4198 16.0776Z">
                                </path>
                            </g>
                            <defs>
                                <clipPath id="clip0_260_6673">
                                    <rect fill="white" height="26" width="26"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </a> 
                    <a class="cusA p-1 BlogSocialicon" id="share-linkedin-button" target="_blank" href="#"> <svg fill="none" viewBox="0 0 26 26"
                            height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_260_6688)">
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M13 0C5.82141 0 0 5.82141 0 13C0 20.1786 5.82141 26 13 26C20.1786 26 26 20.1786 26 13C26 5.82141 20.1786 0 13 0ZM9.22238 19.6523H6.05627V10.1271H9.22233L9.22238 19.6523ZM7.63938 8.82639H7.61876C6.55632 8.82639 5.8692 8.09504 5.8692 7.18098C5.8692 6.2463 6.57734 5.53516 7.66045 5.53516C8.74352 5.53516 9.41002 6.2463 9.43064 7.18098C9.43064 8.09504 8.74352 8.82644 7.63938 8.82644V8.82639ZM20.6387 19.6523H17.473V14.5565C17.473 13.2759 17.0146 12.4025 15.869 12.4025C14.9944 12.4025 14.4735 12.9917 14.2446 13.5604C14.1609 13.7639 14.1404 14.0484 14.1404 14.333V19.6523H10.9745C10.9745 19.6523 11.016 11.0207 10.9745 10.1271H14.1404V11.4757C14.5612 10.8268 15.314 9.90356 16.9937 9.90356C19.0768 9.90356 20.6387 11.2649 20.6387 14.1906V19.6523Z">
                                </path>
                            </g>
                            <defs>
                                <clipPath id="clip0_260_6688">
                                    <rect fill="white" height="26" width="26"></rect>
                                </clipPath>
                            </defs>
                        </svg> 
                    </a> 
                    <a class="cusA p-1 BlogSocialicon" id="share-pinterest-button" target="_blank" href="#"> <svg fill="none" viewBox="0 0 26 26"
                            height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_260_6691)">
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M13 0C5.82015 0 0 5.82015 0 13C0 20.1798 5.82015 26 13 26C20.1798 26 26 20.1798 26 13C26 5.82015 20.1798 0 13 0ZM18.1941 14.4746C17.6193 15.7873 16.1323 16.8566 14.6802 16.9369C13.7063 16.9904 12.5514 16.8769 12.0813 15.9182C12.0188 16.3818 11.7014 17.6742 11.5682 18.1372C11.4237 18.6379 11.2933 19.349 10.8895 19.7169C10.6695 19.9171 9.73958 20.4274 9.49259 19.7766C9.169 18.9246 9.86068 16.9496 10.1203 15.9847C10.2597 15.4648 10.344 14.9559 10.4256 14.425C10.4938 13.9846 10.6867 13.5658 10.707 13.1174C10.7281 12.6556 10.5721 12.205 10.5602 11.7448C10.5487 11.2669 10.5577 10.7447 10.8089 10.3211C11.2193 9.62918 12.2802 9.09634 13.002 9.62045C13.6579 10.0961 13.5314 11.1156 13.2884 11.7834C13.1143 12.261 12.9775 12.6696 12.8786 13.174C12.8085 13.53 12.731 14.062 12.5733 14.3735C13.0811 14.89 13.294 15.4189 14.1164 15.4133C14.7137 15.4096 15.3192 15.0846 15.6774 14.6073C16.0348 14.1282 16.3349 13.6092 16.5719 13.0605C16.9217 12.2433 16.8732 11.1917 16.7919 10.3226C16.7519 9.90038 16.6238 9.49128 16.4159 9.12168C16.2079 8.75209 15.9248 8.4302 15.5848 8.17682C13.9437 6.95511 11.2043 7.22491 9.888 8.81612C9.09324 9.77732 8.70318 11.1165 8.84006 12.357C8.88681 12.7809 9.24645 13.0603 9.44415 13.4148C9.62721 13.7435 9.60665 14.5247 9.27968 14.805C8.94989 15.0869 8.44859 14.5312 8.20357 14.3053C7.50288 13.659 7.20182 12.8386 7.05875 11.9146C6.97764 11.3902 7.01369 10.7746 7.19421 10.2969C7.39783 9.76014 7.54062 9.22504 7.88111 8.78683C8.16809 8.41761 8.4852 8.00108 8.80457 7.65524C9.1031 7.33221 9.46386 7.12578 9.88208 6.91625C10.3273 6.69292 10.7402 6.40481 11.2041 6.24372C11.7279 6.06178 12.2413 5.9818 12.7865 5.93561C13.6801 5.86014 14.8297 5.89196 15.6673 6.29892C16.3387 6.62504 17.0729 7.05734 17.6322 7.60539C18.3664 8.32524 18.8573 9.55258 18.9567 10.5532C19.0857 11.8507 18.7123 13.2912 18.1941 14.4746Z">
                                </path>
                            </g>
                            <defs>
                                <clipPath id="clip0_260_6691">
                                    <rect fill="white" height="26" width="26"></rect>
                                </clipPath>
                            </defs>
                        </svg> 
                    </a> 
                    <a class="cusA p-1 BlogSocialicon" id="share-tiktok-button" target="_blank" href="#"> <svg fill="none" viewBox="0 0 26 26"
                            height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_260_6685)">
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M13 0C5.82141 0 0 5.82141 0 13C0 20.1786 5.82141 26 13 26C20.1786 26 26 20.1786 26 13C26 5.82141 20.1786 0 13 0ZM19.5218 9.94668V11.7069C18.6918 11.7072 17.8854 11.5446 17.1248 11.2237C16.6386 11.0188 16.181 10.7519 15.7633 10.4297L15.7758 15.8477C15.7705 17.0677 15.2878 18.214 14.4143 19.0774C13.7033 19.7802 12.8025 20.2271 11.826 20.3718C11.5946 20.4061 11.3609 20.4232 11.127 20.4232C10.0818 20.4232 9.08944 20.0846 8.2777 19.4599C8.12401 19.3415 7.97775 19.2138 7.83976 19.0774C6.893 18.1417 6.40479 16.8734 6.487 15.5393C6.54972 14.5237 6.95632 13.5551 7.63415 12.796C8.53094 11.7915 9.78555 11.2339 11.127 11.2339C11.3631 11.2339 11.5966 11.2516 11.826 11.2856V13.7468C11.6028 13.6731 11.3693 13.6356 11.1342 13.6356C9.90869 13.6356 8.91719 14.6355 8.93552 15.862C8.94715 16.6467 9.37579 17.3327 10.008 17.7108C10.3126 17.8934 10.6571 17.9991 11.0117 18.0186C11.2875 18.0339 11.5638 17.9973 11.826 17.9106C12.7017 17.6213 13.3333 16.7989 13.3333 15.8289L13.3362 12.2007V5.5768H15.7603C15.7623 5.81241 15.7865 6.04732 15.8323 6.27844C16.0153 7.19763 16.5334 7.9951 17.2545 8.53876C17.8833 9.01301 18.6662 9.29414 19.5148 9.29414C19.5154 9.29414 19.5224 9.29414 19.5218 9.29358V9.94668H19.5218Z">
                                </path>
                            </g>
                            <defs>
                                <clipPath id="clip0_260_6685">
                                    <rect fill="white" height="26" width="26"></rect>
                                </clipPath>
                            </defs>
                        </svg> 
                    </a> 
                    <a class="cusA p-1 BlogSocialicon" id="share-x-button" target="_blank" href="#"> <svg fill="none" viewBox="0 0 26 26"
                            height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_260_6694)">
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M13 0C5.82141 0 0 5.82141 0 13C0 20.1786 5.82141 26 13 26C20.1786 26 26 20.1786 26 13C26 5.82141 20.1786 0 13 0ZM18.9357 10.136C18.9414 10.264 18.9442 10.3925 18.9442 10.5216C18.9442 14.4645 15.9429 19.0112 10.4544 19.0114C8.76926 19.0114 7.20124 18.5175 5.88072 17.6711C6.11416 17.6986 6.35182 17.7123 6.59242 17.7123C7.99053 17.7123 9.27713 17.2355 10.2984 16.4351C8.99224 16.4109 7.8909 15.5482 7.51085 14.3626C7.69564 14.3983 7.88342 14.4164 8.07163 14.4165C8.34397 14.4165 8.60783 14.3798 8.85854 14.3114C7.49323 14.038 6.46471 12.8314 6.46471 11.3865C6.46471 11.373 6.46471 11.3609 6.46506 11.3484C6.87923 11.5791 7.3427 11.7071 7.81655 11.7215C7.01533 11.187 6.48868 10.2731 6.48868 9.23782C6.4882 8.71092 6.62764 8.19335 6.89274 7.738C8.36423 9.54352 10.5633 10.7309 13.0433 10.8557C12.9914 10.6326 12.9653 10.4043 12.9657 10.1753C12.9657 8.5281 14.3021 7.19169 15.9499 7.19169C16.8082 7.19169 17.5834 7.55452 18.1279 8.13455C18.7961 8.00271 19.4369 7.75778 20.0227 7.4103C19.7995 8.10677 19.3266 8.69111 18.7105 9.06069C19.3141 8.98848 19.8894 8.82842 20.424 8.59076C20.0237 9.19022 19.5197 9.7135 18.9357 10.136Z">
                                </path>
                            </g>
                            <defs>
                                <clipPath id="clip0_260_6694">
                                    <rect fill="white" height="26" width="26"></rect>
                                </clipPath>
                            </defs>
                        </svg> 
                    </a> 
                    <a class="cusA p-1 BlogSocialicon" id="share-youtube-button" target="_blank" href="#"> <svg fill="none" viewBox="0 0 26 26"
                            height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_260_6681)">
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M11.3809 15.4355L15.6096 13L11.3809 10.5646V15.4355Z"></path>
                                <path class="hvrFill cusTransition" fill="#ccc"
                                    d="M13 0C5.82141 0 0 5.82141 0 13C0 20.1786 5.82141 26 13 26C20.1786 26 26 20.1786 26 13C26 5.82141 20.1786 0 13 0ZM21.123 13.0133C21.123 13.0133 21.123 15.6498 20.7886 16.9211C20.6011 17.6169 20.0524 18.1656 19.3565 18.3529C18.0853 18.6875 13 18.6875 13 18.6875C13 18.6875 7.92802 18.6875 6.64341 18.3395C5.94755 18.1523 5.39886 17.6034 5.21143 16.9076C4.87678 15.6497 4.87678 13 4.87678 13C4.87678 13 4.87678 10.3637 5.21143 9.09238C5.39871 8.39658 5.96086 7.83438 6.64346 7.64715C7.91466 7.3125 13 7.3125 13 7.3125C13 7.3125 18.0852 7.3125 19.3566 7.66045C20.0524 7.84768 20.6011 8.39658 20.7886 9.09243C21.1365 10.3637 21.123 13.0133 21.123 13.0133L21.123 13.0133Z">
                                </path>
                            </g>
                            <defs>
                                <clipPath id="clip0_260_6681">
                                    <rect fill="white" height="26" width="26"></rect>
                                </clipPath>
                            </defs>
                        </svg> </a>
                </div>




                <div id="blog_banner">

                </div>

                <!-- Start with About Author -->

                <div id="author_details">

                </div>


                <!-- End with About Author -->


            </div>
            <div class="col-lg-4">
                <div>
                    <h3 style="font-size: 26px;" class="ivy cl-theme">Categories</h3>
                    <hr class="cusblogHr">
                    <div class="d-flex flex-column justify-content-center align-items-start" id="blog_category_section">
                       
                    
                    </div>
                </div>
                <div class="mrg_tb" id="offer_container">
                    
                </div>
                <div class="mrg_b">
                    <h3 style="font-size: 26px;" class="ivy cl-theme">Related Posts</h3>
                    <hr class="cusblogHr">
                    <div id="category_filtter_div">

                    </div>
                </div>

                <div class="mrg_t" id="popular_post_container">
                    <h3 style="font-size: 26px;" class="ivy cl-theme">Popular Posts</h3>
                    <hr class="cusblogHr">
                    
                </div>
                <div class="mrg_tb">
                    <h3 style="font-size: 26px;" class="ivy cl-theme">Follow Us</h3>
                    <hr class="cusblogHr">
                    <div id="follow_container">

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =====================================================================================================================================================
          Previous & Next
          ===================================================================================================================================================== -->
<section>
    <hr class="cusblogHr">
    <div class="container-md my-4">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="col-6 cusVerticalLineBorderRight">
                <a id="pre_button" class="cusA d-flex flex-column justify-content-center align-items-start scalHvr"
                    href="#">
                    <div class="d-flex justify-content-center align-items-center"><svg fill="none" viewBox="0 0 28 28"
                            height="28" width="28" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_725_3435)">
                                <path fill="#515151"
                                    d="M7.3984 13.6801L20.8817 13.6801C21.0621 13.6801 21.1934 13.8277 21.1934 14.0082C21.1934 14.1886 21.0621 14.3198 20.8817 14.3198L7.3984 14.3198C7.21796 14.3198 7.08674 14.1886 7.08674 14.0082C7.08674 13.8277 7.21796 13.6801 7.3984 13.6801Z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                                <path fill="#515151"
                                    d="M11.369 9.89101C11.451 9.89101 11.5494 9.92381 11.6151 9.98942C11.7299 10.1371 11.7299 10.3339 11.5986 10.4487L7.62911 14.0082L11.5986 17.5512C11.7299 17.666 11.7299 17.8793 11.6151 18.0105C11.5002 18.1417 11.3034 18.1417 11.1558 18.0269L6.92378 14.2542C6.85817 14.1886 6.80896 14.0902 6.80896 14.0082C6.80896 13.9098 6.85817 13.8277 6.92378 13.7457L11.1558 9.97302C11.205 9.92381 11.3034 9.89101 11.369 9.89101Z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                                <path fill="#515151"
                                    d="M14.009 0.032851C21.7184 0.0328516 27.9844 6.28241 27.9844 14.0082C27.9844 21.7177 21.7184 27.9836 14.009 27.9836C6.28315 27.9836 0.0335851 21.7013 0.0335858 14.0082C0.0335865 6.31522 6.28315 0.0328503 14.009 0.032851ZM14.009 27.3439C21.3575 27.3439 27.3447 21.3568 27.3447 14.0082C27.3447 6.65968 21.3575 0.672571 14.009 0.67257C6.66042 0.672569 0.673305 6.65968 0.673305 14.0082C0.673304 21.3568 6.66042 27.3439 14.009 27.3439Z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_725_3435">
                                    <rect transform="translate(28 28) rotate(-180)" fill="white" height="28" width="28">
                                    </rect>
                                </clipPath>
                            </defs>
                        </svg>
                        <h2 class="ivy cl-51 mb-0 ms-1 ms-sm-3 cusFontsize">Previous Post</h2>
                    </div>
                    <div class="PrevNextPostHead text-start d-none d-md-block" id="pre_post_name">It is a long established fact that a
                        reader.</div>
                </a></div>
            <div class="col-6">
                <a id="next_button" class="cusA d-flex flex-column justify-content-center align-items-end scalHvr"
                    href="#">
                    <div class="d-flex justify-content-center align-items-center">
                        <h2 class="ivy cl-51 mb-0 me-1 me-sm-3 cusFontsize">Next Post</h2>
                        <svg fill="none" viewBox="0 0 28 28" height="28" width="28" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_725_3424)">
                                <path fill="#515151"
                                    d="M20.6016 14.3199H7.1183C6.93786 14.3199 6.80664 14.1723 6.80664 13.9918C6.80664 13.8114 6.93786 13.6802 7.1183 13.6802H20.6016C20.782 13.6802 20.9133 13.8114 20.9133 13.9918C20.9133 14.1723 20.782 14.3199 20.6016 14.3199Z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                                <path fill="#515151"
                                    d="M16.631 18.109C16.549 18.109 16.4506 18.0762 16.3849 18.0106C16.2701 17.8629 16.2701 17.6661 16.4014 17.5513L20.3709 13.9918L16.4014 10.4488C16.2701 10.334 16.2701 10.1207 16.3849 9.98949C16.4998 9.85826 16.6966 9.85826 16.8442 9.97308L21.0762 13.7458C21.1418 13.8114 21.191 13.9098 21.191 13.9918C21.191 14.0902 21.1418 14.1723 21.0762 14.2543L16.8442 18.027C16.795 18.0762 16.6966 18.109 16.631 18.109Z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                                <path fill="#515151"
                                    d="M13.991 27.9671C6.28159 27.9671 0.015625 21.7176 0.015625 13.9918C0.015625 6.28232 6.28159 0.0163574 13.991 0.0163574C21.7169 0.0163574 27.9664 6.29872 27.9664 13.9918C27.9664 21.6848 21.7169 27.9671 13.991 27.9671ZM13.991 0.656076C6.64246 0.656076 0.655344 6.64319 0.655344 13.9918C0.655344 21.3403 6.64246 27.3274 13.991 27.3274C21.3396 27.3274 27.3267 21.3403 27.3267 13.9918C27.3267 6.64319 21.3396 0.656076 13.991 0.656076Z"
                                    clip-rule="evenodd" fill-rule="evenodd"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_725_3424">
                                    <rect fill="white" height="28" width="28"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="PrevNextPostHead text-end d-none d-md-block" id="next_post_name">It is a long established fact that a
                        reader.</div>
                </a></div>
        </div>
    </div>
    <hr class="cusblogHr">
</section>
<!-- =====================================================================================================================================================
          Just For You
          ===================================================================================================================================================== -->
<section class="mrg_t">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="heading">Just For You</h2>
            <div class="subHeading">Explore our stunning assortment of sustainable and ethical engagement rings, wedding
                sets and bands, fashion rings, and elegant bridal jewelry.</div>
        </div>
        <div class="row mt-4">
            <div class="col-6 col-lg-3 my-3 my-lg-0"><a
                    class="cusA d-flex flex-column justify-content-center align-items-center scalHvr" href="#"> <img
                        class="img-fluid" draggable="false" alt="Browse Stienhardt Best Sellers Products"
                        src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/1_1_fcc610e1-3e32-4d6d-9245-0a006ee696b8.jpg?v=1733936737">
                    <div class="productName mt-3">Oval Half Eternity Wedding Band</div>
                    <div class="productPrice f-14">from $1,921.00</div>
                </a></div>
            <div class="col-6 col-lg-3 my-3 my-lg-0"><a
                    class="cusA d-flex flex-column justify-content-center align-items-center scalHvr" href="#"> <img
                        class="img-fluid" draggable="false" alt="Browse Stienhardt Best Sellers Products"
                        src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/2_1_b2cef950-61dd-423d-8310-71fd88c8d4d9.jpg?v=1733936750">
                    <div class="productName mt-3">Oval Half Eternity Wedding Band</div>
                    <div class="productPrice f-14">from $1,921.00</div>
                </a></div>
            <div class="col-6 col-lg-3 my-3 my-lg-0"><a
                    class="cusA d-flex flex-column justify-content-center align-items-center scalHvr" href="#"> <img
                        class="img-fluid" draggable="false" alt="Browse Stienhardt Best Sellers Products"
                        src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/3_1_c32ae49e-f91b-4b31-9f9d-754f6608a18c.jpg?v=1733936760">
                    <div class="productName mt-3">Oval Half Eternity Wedding Band</div>
                    <div class="productPrice f-14">from $1,921.00</div>
                </a></div>
            <div class="col-6 col-lg-3 my-3 my-lg-0"><a
                    class="cusA d-flex flex-column justify-content-center align-items-center scalHvr" href="#"> <img
                        class="img-fluid" draggable="false" alt="Browse Stienhardt Best Sellers Products"
                        src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/2_1_b2cef950-61dd-423d-8310-71fd88c8d4d9.jpg?v=1733936750">
                    <div class="productName mt-3">Oval Half Eternity Wedding Band</div>
                    <div class="productPrice f-14">from $1,921.00</div>
                </a></div>
        </div>
    </div>
</section>
<!-- =====================================================================================================================================================
          FAQ
          ===================================================================================================================================================== -->
<section class="mrg_tb">
    <div class="container">
        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <h2 class="heading">FAQ's</h2>
        </div>

        <div id="FAQ_content">

        </div>
        
    </div>
</section>










<!-- Start with Script -->


<!-- Start with Get Data From Backend -->

<script>

    // Get the current page URL
    const currentPageUrl = window.location.href;


    // Define the specific _id you want to match
    const targetPostId = "6776650e6fa5e820cb17e526"; // Replace with the desired _id

    const baseUrl = "https://blog-backend-side-4loa.onrender.com/api/auth";


    // Start with Send the current page URL to the backend using PAT CH
    fetch(`${baseUrl}/update-url/${targetPostId}`, { // Replace with your actual backend endpoint
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            url: currentPageUrl, // Include the current page URL
        }),
    })
        .then(response => response.json())
        .then(data => {
             data
        })
        .catch(error => {
            console.error('Error updating page URL:', error);
        });


    // End with Send the current page URL to the backend using PAT CH



    // Function to increment visit count

    fetch(`${baseUrl}/increment-visit/${targetPostId}`, {
        method: 'PATCH'
    })
        .then(response => response.json())
        .then(data => console.log('Visit count incremented:', data))
        .catch(error => console.error('Error incrementing visit count:', error));






    // Start with Offer



    fetch(`${baseUrl}/get-offer`)
        .then(response => response.json())
        .then(data => {

            try {

                const Blog_Offer = data.Blog_Offer;

                const blog_offer = document.getElementById('offer_container');
                const blog_banner = document.getElementById('blog_banner');

                const blog_offerHTML = `
                        ${Blog_Offer[0].offer_box}
                        `;
                blog_offer.innerHTML += blog_offerHTML;

                const blog_bannerHTML = `
                        ${Blog_Offer[0].blog_box}
                        `;
                blog_banner.innerHTML += blog_bannerHTML;

            } catch (error) {

                console.log("Offer : ", error);

            }

        })




    // End with Offer



    // Start with Share



    fetch(`${baseUrl}/get-blog-follow`)
        .then(response => response.json())
        .then(data => {

            try {

                const Blog_Follow = data.Blog_Follow;

                const blog_blog_follow = document.getElementById('follow_container');

                const blog_blog_followHTML = `
                        ${Blog_Follow[0].follow_box}
                        `;
                blog_blog_follow.innerHTML += blog_blog_followHTML;

            } catch (error) {

                console.log("Offer : ", error);

            }

        })




    // End with Share








    // Fetch top 4 popular posts from the backend
    fetch(`${baseUrl}/get-popular-posts`) // Replace with your backend URL
        .then(response => response.json())
        .then(data => {
            const popularPostContainer = document.getElementById('popular_post_container');


            data.popularPosts.forEach(post => {
                const popularPostContainerHTML = `
                        <div class="row my-3 d-flex justify-content-center align-iteam-center"><a class="blog-commen-tag"
                            href="${post.url}">
                            <div class="col-4 my-auto pe-0"><img class="img-fluid" draggable="false"
                                    alt="${post.blog_post_image_alt_text}"
                                    src="${post.blog_post_url}">
                            </div>
                            <div class="col-8 my-auto">
                                <div class="ivy sideBlogHeading">${post.blog_title}</div>
                                <div class="f-14 cl-51">${post.blog_post_date}</div>
                            </div>
                        </a>
                    </div>
                    `;
                popularPostContainer.innerHTML += popularPostContainerHTML;
            });
        })
        .catch(error => console.error('Error fetching popular posts:', error));








    // Fetch posts data from the backend API (Node.js backend)
    fetch(`${baseUrl}/get-posts`) // Replace with your actual backend URL
        .then(response => response.json())
        .then(data => {
            if (data.message === "Posts fetched successfully") {
                const posts = data.posts;

                const blogPostContent = document.getElementById('blog_post_content');
                const blogPostContentContainer = document.getElementById('blog_post_content_container');
                const blogFAQContent = document.getElementById('FAQ_content');

                const targeted_post_id_post = posts.filter(post => post._id === targetPostId);
                const post_category = targeted_post_id_post[0].blog_category;




                fetch(`${baseUrl}/get-blog-category`)
                        .then(response => response.json())
                        .then(data => {

                            if (data.message === "Posts fetched successfully") {
                                const blogCategory = data.Blog_Category;
                                const blog_category_container = document.getElementById('blog_category_section');
                                const breadcrumb_container = document.getElementById('breadcrumb_container');

                                blogCategory.forEach(blog => {

                                    const blog_category_containerHTML = `
                                    <a
                                        href="${blog.url}"
                                        class="cusA hvrBold my-2 common-css-blog"> <svg class="me-2" fill="none" viewBox="0 0 12 12"
                                            height="14" width="14" xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="16"
                                                stroke-width="1.5" stroke="black" d="M4.50003 9L7.5 5.99998L4.5 3"></path>
                                        </svg> ${blog.blog_category_name} 
                                    </a> 
                                    `;



                                    blog_category_container.innerHTML += blog_category_containerHTML;


                                })



                                const targetCategory = post_category;


                                const Filter_Category = blogCategory.find(category => category.blog_category_name === targetCategory);

                                const Find_Blog_Title = targeted_post_id_post.find(blog => blog.blog_title).blog_title;



                                const Filter_Category_Name = Filter_Category.blog_category_name;
                                const Filter_Category_URL = Filter_Category.url;




                                const breadcrumb_containerHTML = `
                                    <div class="container d-flex flex-column justify-content-center align-items-center text-center">
                                        <div class="cusBreadcrumb">

                                        <a style="color: #3c749b;" class="cusA  LinkBreadcrumb" href="#">
                                            Home
                                        </a>

                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                class="mx-2">
                                                <path d="M4.50003 9L7.5 5.99998L4.5 3" stroke="black" stroke-width="1.5" stroke-miterlimit="16"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                        <a style="color: #3c749b;" class="cusA  LinkBreadcrumb" href="https://stienhardt.com/blogs/news">
                                            Blog
                                        </a>    

                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                class="mx-2">
                                                <path d="M4.50003 9L7.5 5.99998L4.5 3" stroke="black" stroke-width="1.5" stroke-miterlimit="16"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>

                                        <a style="color: #3c749b;" class="cusA  LinkBreadcrumb"
                                                href="${Filter_Category_URL}">
                                            ${Filter_Category_Name} 
                                        </a> 

                                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"
                                                class="mx-2">
                                                <path d="M4.50003 9L7.5 5.99998L4.5 3" stroke="black" stroke-width="1.5" stroke-miterlimit="16"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                        
                                        <a class="cusA  LinkBreadcrumb" href="#"> 
                                            ${Find_Blog_Title}
                                        </a>

                                        </div>
                                    </div>
                                    `;

                                    breadcrumb_container.innerHTML += breadcrumb_containerHTML;


                            }

                        })






                // Fetch Author data from the backend API
                fetch(`${baseUrl}/get-author-details`) // Replace with your actual backend URL
                    .then(response => response.json())
                    .then(authorData => {
                        if (authorData.message === "Posts fetched successfully") {
                            const authors = authorData.authors;


                            // Create a map for authors by name
                            const authorMap = {};
                            authors.forEach(author => {
                                authorMap[author.author_name] = author; // Map author_name to the author's data
                            });






                            // Find the index of the post with the matching _id
                            const curren_index = posts.findIndex(post => post._id === targetPostId);



                            // Assume you know the index (e.g., 1)
                            const index = 0;

                            // Access the post data at the specified index
                            const post = posts[index];


                            // Define the category you want to filter by
                            const targetCategory = post_category;


                            // Filter posts by the desired category
                            const filteredPosts = posts.filter(post => post.blog_category === targetCategory);

                            // Shuffle the filtered posts randomly
                            const shufflePosts = filteredPosts.sort(() => Math.random() - 0.5);

                            // Select only the first 4 posts
                            const selectedPosts = shufflePosts.slice(0, 4);

                            // Extract the desired fields
                            const finalPosts = selectedPosts.map(post => ({
                                blog_post_date: post.blog_post_date,
                                blog_post_url: post.blog_post_url,
                                blog_title: post.blog_title,
                                url: post.url
                            }));



                            finalPosts.forEach(post => {
                                const category_filtter = document.getElementById('category_filtter_div');
                                const category_filtterHTML = `
                    <div class="row my-3 d-flex justify-content-center align-iteam-center">
                        <a class="blog-commen-tag"
                            href="${post.url}">
                            <div class="col-4 my-auto pe-0">
                                <img class="img-fluid" draggable="false"
                                    alt="Blog Post Image"
                                    src="${post.blog_post_url}">
                            </div>
                            <div class="col-8 my-auto">
                                <div class="ivy sideBlogHeading">${post.blog_title}</div>
                                <div class="f-14 cl-51">${post.blog_post_date}</div>
                            </div>
                        </a>
                    </div>
                    `;
                                // Append the post HTML to the container
                                category_filtter.innerHTML += category_filtterHTML;
                            })






                            // Find the index of the post with the matching _id
                            const current_index = posts.findIndex(post => post._id === targetPostId);

                            // Breadcrumb_Blog_Name
                            const current_data = posts[current_index];

                            const Breadcrumb_Name = document.getElementById('Breadcrumb_Blog_Name');
                            if (Breadcrumb_Name) Breadcrumb_Name.textContent = current_data.blog_title; // Set previous post title


                            if (current_index !== -1) {


                                // Get previous and next indices
                                const preIndex = current_index - 1;
                                const nextIndex = current_index + 1;

                                const pre = preIndex >= 0 ? posts[preIndex] : posts[posts.length - 1]; // If preIndex is out of bounds, assign last post
                                const next = nextIndex < posts.length ? posts[nextIndex] : posts[0]; // If nextIndex is out of bounds, assign first post

                                // Store the previous and next in constants
                                const previousPost = pre;
                                const nextPost = next;

                                // Update pre_button and next_button URLs
                                const preButton = document.getElementById('pre_button');
                                const nextButton = document.getElementById('next_button');

                                preButton.setAttribute('href', previousPost.url); // Update href for previous post
                                nextButton.setAttribute('href', nextPost.url); // Update href for next post



                                // Replace pre_post_name and next_post_name with titles

                                const prePostName = document.getElementById('pre_post_name');
                                const nextPostName = document.getElementById('next_post_name');

                                if (prePostName) prePostName.textContent = previousPost.blog_title; // Set previous post title
                                if (nextPostName) nextPostName.textContent = nextPost.blog_title; // Set next post title



                            } else {
                                console.log('Post not found');
                            }














                            // Loop through each post and create its HTML structure

                            posts.forEach(post => {
                                // Filter posts based on the specific _id

                                if (post._id === targetPostId) {

                                    // Get the author details dynamically from the post's author_name
                                    const selectedAuthor = authorMap[post.author_name];


                                    if (selectedAuthor) {
                                        const authorDetails = document.getElementById('author_details');
                                        // Generate the post's HTML with the author details
                                        const blogFAQContentHTML = `
                    ${post.faq_content}
                    `;
                                        const blogPostContentHTML = `
                        <a class="cusA cfw-Medi mb-2 blogPostCategories">${post.blog_category}
                        </a>
                        <h1 class="ivy cl-theme mt-1">${post.blog_title}</h1>
                        <div class="d-flex mt-3 mb-4">
                            <div class="headAuthorName">by ${post.author_name}</div>
                            <div class="BlogPostDate ms-5">${post.blog_post_date}</div>
                        </div>
                        <div class="position-relative">
                            <img class="img-fluid" draggable="false" alt="${post.blog_post_image_alt_text}"
                                src="${post.blog_post_url}"> 
                                <a
                                class="cusA pinButton" href="https://www.pinterest.com/pin/create/button/"
                                data-pin-do="buttonPin"
                                data-pin-custom="true"
                                data-pin-media="${post.blog_post_url}"
                                data-pin-url="${currentPageUrl}"
                                data-pin-description="${post.description}" 
                                style="cursor: pointer;">
                                <img class="img-fluid" draggable="false"
                                    alt="Red Pinterest "Share" button with logo on the left."
                                    src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/Pintrest_Share_Button.png?v=1732725635">
                                </a>
                        </div>
                        `;

                                        const blogPostContentContainerHTML = `
                        ${post.blog_content}
                        `;



                                        const authorDetailsHTML = `
                    <div class="mrg_tb">
                    <h3 style="font-size: 26px;" class="ivy cl-theme">About the Author</h3>
                    <hr class="cusblogHr">
                    <div class="row">
                        <div class="col-4 col-lg-2"><img class="img-fluid DPborder" draggable="false"
                                alt="${selectedAuthor.author_image_alt}"
                                src="${selectedAuthor.author_image}">
                        </div>
                        <div
                            class="col-12 col-sm-8 col-lg-10 d-flex flex-column justify-content-center align-items-start">
                            <h4 style="font-size: 24px; letter-spacing: 0; text-transform: capitalize; margin-bottom: 8px !important;"
                                class="ivy">${selectedAuthor.author_name}</h4>
                            <div style="font-size: 16px; line-height: 23px;">${selectedAuthor.author_description}</div>
                            <div class="mt-2 mb-3 d-flex justify-content-start align-items-center  flex-wrap">
                                
                                <a class="cusA p-1 BlogSocialicon" href="${selectedAuthor.author_linkedin}"> <svg fill="none"
                                        viewBox="0 0 26 26" height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_260_6688)">
                                            <path class="hvrFill cusTransition" fill="#ccc"
                                                d="M13 0C5.82141 0 0 5.82141 0 13C0 20.1786 5.82141 26 13 26C20.1786 26 26 20.1786 26 13C26 5.82141 20.1786 0 13 0ZM9.22238 19.6523H6.05627V10.1271H9.22233L9.22238 19.6523ZM7.63938 8.82639H7.61876C6.55632 8.82639 5.8692 8.09504 5.8692 7.18098C5.8692 6.2463 6.57734 5.53516 7.66045 5.53516C8.74352 5.53516 9.41002 6.2463 9.43064 7.18098C9.43064 8.09504 8.74352 8.82644 7.63938 8.82644V8.82639ZM20.6387 19.6523H17.473V14.5565C17.473 13.2759 17.0146 12.4025 15.869 12.4025C14.9944 12.4025 14.4735 12.9917 14.2446 13.5604C14.1609 13.7639 14.1404 14.0484 14.1404 14.333V19.6523H10.9745C10.9745 19.6523 11.016 11.0207 10.9745 10.1271H14.1404V11.4757C14.5612 10.8268 15.314 9.90356 16.9937 9.90356C19.0768 9.90356 20.6387 11.2649 20.6387 14.1906V19.6523Z">
                                            </path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_260_6688">
                                                <rect fill="white" height="26" width="26"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg> 
                                </a>
                                <a class="cusA p-1 BlogSocialicon" href="${selectedAuthor.author_pinterest}"> <svg fill="none"
                                        viewBox="0 0 26 26" height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_260_6691)">
                                            <path class="hvrFill cusTransition" fill="#ccc"
                                                d="M13 0C5.82015 0 0 5.82015 0 13C0 20.1798 5.82015 26 13 26C20.1798 26 26 20.1798 26 13C26 5.82015 20.1798 0 13 0ZM18.1941 14.4746C17.6193 15.7873 16.1323 16.8566 14.6802 16.9369C13.7063 16.9904 12.5514 16.8769 12.0813 15.9182C12.0188 16.3818 11.7014 17.6742 11.5682 18.1372C11.4237 18.6379 11.2933 19.349 10.8895 19.7169C10.6695 19.9171 9.73958 20.4274 9.49259 19.7766C9.169 18.9246 9.86068 16.9496 10.1203 15.9847C10.2597 15.4648 10.344 14.9559 10.4256 14.425C10.4938 13.9846 10.6867 13.5658 10.707 13.1174C10.7281 12.6556 10.5721 12.205 10.5602 11.7448C10.5487 11.2669 10.5577 10.7447 10.8089 10.3211C11.2193 9.62918 12.2802 9.09634 13.002 9.62045C13.6579 10.0961 13.5314 11.1156 13.2884 11.7834C13.1143 12.261 12.9775 12.6696 12.8786 13.174C12.8085 13.53 12.731 14.062 12.5733 14.3735C13.0811 14.89 13.294 15.4189 14.1164 15.4133C14.7137 15.4096 15.3192 15.0846 15.6774 14.6073C16.0348 14.1282 16.3349 13.6092 16.5719 13.0605C16.9217 12.2433 16.8732 11.1917 16.7919 10.3226C16.7519 9.90038 16.6238 9.49128 16.4159 9.12168C16.2079 8.75209 15.9248 8.4302 15.5848 8.17682C13.9437 6.95511 11.2043 7.22491 9.888 8.81612C9.09324 9.77732 8.70318 11.1165 8.84006 12.357C8.88681 12.7809 9.24645 13.0603 9.44415 13.4148C9.62721 13.7435 9.60665 14.5247 9.27968 14.805C8.94989 15.0869 8.44859 14.5312 8.20357 14.3053C7.50288 13.659 7.20182 12.8386 7.05875 11.9146C6.97764 11.3902 7.01369 10.7746 7.19421 10.2969C7.39783 9.76014 7.54062 9.22504 7.88111 8.78683C8.16809 8.41761 8.4852 8.00108 8.80457 7.65524C9.1031 7.33221 9.46386 7.12578 9.88208 6.91625C10.3273 6.69292 10.7402 6.40481 11.2041 6.24372C11.7279 6.06178 12.2413 5.9818 12.7865 5.93561C13.6801 5.86014 14.8297 5.89196 15.6673 6.29892C16.3387 6.62504 17.0729 7.05734 17.6322 7.60539C18.3664 8.32524 18.8573 9.55258 18.9567 10.5532C19.0857 11.8507 18.7123 13.2912 18.1941 14.4746Z">
                                            </path>
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_260_6691">
                                                <rect fill="white" height="26" width="26"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg> 
                                </a> 
                            </div>
                            <a class="cusA cusBtnTwo mt-3" href="${selectedAuthor.author_page_url}">Show all Post</a>
                        </div>
                    </div>
                </div>
                                        `;

                                        // Append the post HTML to the container
                                        blogFAQContent.innerHTML += blogFAQContentHTML;
                                        blogPostContent.innerHTML += blogPostContentHTML;
                                        blogPostContentContainer.innerHTML += blogPostContentContainerHTML;
                                        authorDetails.innerHTML += authorDetailsHTML;
                                    } else {
                                        console.error('Author not found for post:', post);
                                    }
                                }
                            });
                        } else {
                            console.error('Failed to fetch authors');
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching authors:', error);
                    });
            } else {
                console.error('Failed to fetch posts');
            }
        })
        .catch(error => {
            console.error('Error fetching posts:', error);
        });
</script>


<!-- End with Get Data From Backend -->







<!-- Start with Social Media Link with current Page -->

<script>
    window.onload = function() {
        // Get the current page URL
        const currentUrl = encodeURIComponent(window.location.href);

        // Helper function to set href if element exists
        function setShareLink(id, url) {
            const element = document.getElementById(id);
            if (element) {
                element.href = url;
            } else {
                console.log(`Element with ID ${id} not found.`);
            }
        }

        // Set links
        setShareLink("share-facebook-button", `https://www.facebook.com/sharer/sharer.php?u=${currentUrl}`);
        setShareLink("share-instagram-button", `https://www.instagram.com/`);
        setShareLink("share-linkedin-button", `https://www.linkedin.com/sharing/share-offsite/?url=${currentUrl}`);
        setShareLink("share-pinterests-button", `https://pinterest.com/pin/create/button/?url=${currentUrl}`);
        setShareLink("share-tiktok-button", `https://www.tiktok.com/`);
        setShareLink("share-x-button", `https://twitter.com/intent/tweet?url=${currentUrl}&text=Check this out!`);
        setShareLink("share-youtube-button", `https://www.youtube.com/`);
    };
</script>


<!-- End with Social Media Link with current Page -->


<script async defer src="//assets.pinterest.com/js/pinit.js"></script>



<!-- End with Script -->




















{% schema %}
    {
      "name": "Blog Post HTML",
      "settings": [
        
      ],
      "presets": [
        {
          "name": "Blog Post HTML"
        }
      ]
    }
{% endschema %}