{% schema %}
{
  "name": "Book Appointment",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Experience the Brilliance!"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Schedule a consultation to discover the beauty of Lab-created diamonds that fit your style and budget."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Book an Appointment"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#f9f9f9"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Book Appointment",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}

<section class="mrg_tb" style="background-color: {{ section.settings.background_color }}">
  <div class="BGPattern pad_tb">
    <div class="container">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <h2 class="heading">{{ section.settings.heading }}</h2>
        <div class="subHeading">{{ section.settings.subheading }}</div>
        <div class="d-inline-block mt-4">
                <a href="/pages/book-an-appointment" class="cusA cusBtn d-flex justify-content-center align-items-center d-none d-xl-block site-header__book-appointment">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                  <path d="M4.66634 1.33332C4.66634 0.965136 4.36786 0.666656 3.99967 0.666656C3.63149 0.666656 3.33301 0.965136 3.33301 1.33332V1.63256C3.58655 1.55213 3.8567 1.49471 4.14323 1.45306C4.30853 1.42904 4.48282 1.40983 4.66634 1.39448V1.33332Z" fill="#113174"></path>
                  <path d="M12.6663 1.63256C12.4128 1.55213 12.1427 1.49471 11.8561 1.45306C11.6908 1.42904 11.5165 1.40983 11.333 1.39448V1.33332C11.333 0.965136 11.6315 0.666656 11.9997 0.666656C12.3679 0.666656 12.6663 0.965136 12.6663 1.33332V1.63256Z" fill="#113174"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.68587 1.33334H7.31413C6.01529 1.33332 4.96761 1.3333 4.14355 1.45308C3.28357 1.57808 2.5712 1.84522 2.01201 2.44974C1.45966 3.04688 1.22186 3.79516 1.10944 4.69912C0.99998 5.5793 0.999987 6.70274 1 8.11594V8.55074C0.999987 9.96394 0.99998 11.0874 1.10944 11.9675C1.22186 12.8715 1.45966 13.6198 2.01201 14.2169C2.5712 14.8215 3.28357 15.0886 4.14355 15.2136C4.96761 15.3334 6.01529 15.3333 7.31413 15.3333H8.68587C9.98473 15.3333 11.0324 15.3334 11.8565 15.2136C12.7165 15.0886 13.4288 14.8215 13.988 14.2169C14.5403 13.6198 14.7781 12.8715 14.8905 11.9675C15 11.0874 15 9.96394 15 8.55074V8.11594C15 6.70274 15 5.57931 14.8905 4.69912C14.7781 3.79516 14.5403 3.04688 13.988 2.44974C13.4288 1.84522 12.7165 1.57808 11.8565 1.45308C11.0324 1.3333 9.98473 1.33332 8.68587 1.33334ZM2.99855 6.00001C2.69281 6.00001 2.53993 6.00001 2.44257 6.09612C2.34521 6.19223 2.34325 6.34316 2.33933 6.64502C2.33351 7.09381 2.33333 7.59614 2.33333 8.16214V8.50454C2.33333 9.97441 2.33455 11.0147 2.43258 11.803C2.52885 12.5771 2.70842 13.0063 2.99081 13.3115C3.26637 13.6095 3.64313 13.7935 4.33533 13.8941C5.05239 13.9983 6.00283 14 7.36667 14H8.63333C9.99713 14 10.9476 13.9983 11.6647 13.8941C12.3569 13.7935 12.7336 13.6095 13.0092 13.3115C13.2916 13.0063 13.4711 12.5771 13.5674 11.803C13.6655 11.0147 13.6667 9.97441 13.6667 8.50454V8.16214C13.6667 7.59614 13.6665 7.09381 13.6607 6.64502C13.6567 6.34316 13.6548 6.19223 13.5575 6.09612C13.4601 6.00001 13.3072 6.00001 13.0015 6.00001H2.99855Z" fill="#113174"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 8.66668C4.5 8.20641 4.87309 7.83334 5.33333 7.83334H5.33931C5.79955 7.83334 6.17265 8.20641 6.17265 8.66668C6.17265 9.12694 5.79955 9.50001 5.33931 9.50001H5.33333C4.87309 9.50001 4.5 9.12694 4.5 8.66668ZM7.16367 8.66668C7.16367 8.20641 7.5368 7.83334 7.997 7.83334H8.003C8.4632 7.83334 8.83633 8.20641 8.83633 8.66668C8.83633 9.12694 8.4632 9.50001 8.003 9.50001H7.997C7.5368 9.50001 7.16367 9.12694 7.16367 8.66668ZM9.82733 8.66668C9.82733 8.20641 10.2005 7.83334 10.6607 7.83334H10.6667C11.1269 7.83334 11.5 8.20641 11.5 8.66668C11.5 9.12694 11.1269 9.50001 10.6667 9.50001H10.6607C10.2005 9.50001 9.82733 9.12694 9.82733 8.66668ZM4.5 11.3333C4.5 10.8731 4.87309 10.5 5.33333 10.5H5.33931C5.79955 10.5 6.17265 10.8731 6.17265 11.3333C6.17265 11.7936 5.79955 12.1667 5.33931 12.1667H5.33333C4.87309 12.1667 4.5 11.7936 4.5 11.3333ZM7.16367 11.3333C7.16367 10.8731 7.5368 10.5 7.997 10.5H8.003C8.4632 10.5 8.83633 10.8731 8.83633 11.3333C8.83633 11.7936 8.4632 12.1667 8.003 12.1667H7.997C7.5368 12.1667 7.16367 11.7936 7.16367 11.3333Z" fill="#113174"></path>
                </svg>
                <span class="ps-2">{{ section.settings.button_text }}</span>
              </a>
                </div>
            </div>


        </div>
    </div>
</section>

