<!-- =====================================================================================================================================================
                                                                Submit Your Review
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">

        <div class="bg-theme cl-w BgReviewradius">
            <div class="row">

                <div class="col-lg-8">
                    <div class="d-flex flex-column justify-content-center align-items-start">
                        <h2 class="heading text-start mb-3 cl-w">Share Your Experience</h2>
                        <div class="aboutDesc">
                            We value your feedback! In the case you have been our customer before we extend our hand to you inviting you to share with us what you feel about our products. Your inputs make it possible for the organization to enhance its services while enabling other clients to make the correct decisions.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 d-flex justify-content-start justify-content-lg-center align-items-center mt-4 mt-lg-0">
                    <!-- <div class="cusBtn fw-bold">Submit Your Review</div> -->
                    <a href="https://g.page/r/CUouVURqnWjAEBM/review" class="cusA cusBtn fw-bold">Submit Your Review</a>
                </div>

            </div>
        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Contact Us Details
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">

        <div class="row mt-4 d-flex justify-content-center align-items-center">

            <div class="col-lg-4 col-xl-6 d-flex justify-content-center align-items-center">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/line-art-stylized-profile-face-star-shaped-pendant.png?v=1737800024" alt="Line art of a stylized profile of a face with a star shaped pendant, against a white background with text overlay." draggable="false" class="img-fluid">
            </div>

            <div class="col-lg-8 col-xl-6 mt-4 mt-lg-0">
                <div class="d-flex flex-column justify-content-center align-items-start">
                    <h2 class="heading text-start mb-3">Why Choose Stienhardt & Stones?</h2>
                    <div class="aboutDesc">
                        <ul class="m-0 pt-2">
                            <li>Ethically Sourced: Since our diamonds are synthetic they do not contain blood diamonds or any sign of unethical extraction or mining.</li>
                            <li>Exceptional Quality: We boast of dealing in quality jewelry only.</li>
                            <li>Customer-Centric Service: We and our team of experts are always willing to offer you the best shopping experience.</li>
                            <li>Flexible Policies: Expect free resizing, free shipping, and a 30 day return policy.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>






{% schema %}
    {
    "name": "Customer Reviews 2",
    "tag": "section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Customer Reviews 2"
      }
    ]
  }  
  {% endschema %}