<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="GuideHeading text-center">Stienhardt & Stones has always considered our customers to be the best spokespeople to narrate our success stories. We are glad to present to you independent lab created diamonds that are different from grading or mining ones; We want our clients to be our witnesses and share their experience here. Here you will be able to learn more about people’s experiences shopping with us and other feedback they have.</div>
        </div>
   
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Testimonial
=====================================================================================================================================================-->
<section class="mrg_tb">
        <div class="container">

            <div class="d-flex flex-column justify-content-center align-items-center mb-3">
                <h2 class="heading">What Our Customers Are Saying</h2>
                <div class="subHeading">Customer reviews highlight the importance of genuine experiences in guiding potential buyers.</div>
            </div>
            
        </div>
</section>







{% schema %}
    {
    "name": "Customer Reviews 1",
    "tag": "section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Customer Reviews 1"
      }
    ]
  }  
  {% endschema %}