<!-- =====================================================================================================================================================
                                                                6 Step Guide
=====================================================================================================================================================-->

<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="GuideHeading text-center">Here at Stienhardt & Stones, we appreciate that amongst the 4C's of diamonds, their cut is imperative as it affects how brilliant and beautiful the diamond appears. Realizing a diamond’s potential via the shape and alignment of its facets takes practice, which, in turn, creates amazing light performance that you will want your jewelry to have regardless of the occasion. Let’s delve into the basics of diamond cuts and their significance towards enhancing the features of your loved one’s possession.</div>
        </div>

        <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/illustration-five-diamonds-graded-poor-excellent-arrows-indicating-light-performance.png?v=1739954114" alt="Illustration of five diamonds graded from Poor to Excellent, with arrows indicating light performance." draggable="false" class="img-fluid my-4">

        <h2 class="heading text-start">What Is Diamond Cut?</h2>
        <div class="GuideHeading text-start">The cutting style of a diamond means the interaction of light with the facets of the diamond. This does not refer to a round diamond or an oval diamond, but rather concerns: how well – proportion, symmetry, and polish. How well – that is the cut grade, explains the amount of light entering and escaping the diamond, and its optical effects – brilliance, fire and sparkle.</div>
        
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Guide Texts
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

    
        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg mrg_tb">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/three-sparkling-diamonds-heart-cushion-round-shapes-displayed-dark-silky-surface-showcasing-brilliance.png?v=1739953482" alt="Three sparkling diamonds in heart, cushion, and round shapes displayed on a dark, silky surface, showcasing their brilliance." draggable="false" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2 class="heading text-start mb-3">The Importance of Diamond Cut</h2>
                <div class="aboutDesc">
                    The cut affects those aspects :
                </div>
                <ul class="my-4">
                    <li><strong>Brilliance:</strong> The reflection of white light from outside and inside the stone.</li><br>
                    <li><strong>Fire:</strong> The creation of a ‘rainbow’ due to the splitting of white light.</li><br>
                    <li><strong>Scintillation:</strong> The appearance of light and dark areas as the diamond is turned.</li>
                </ul>
                <div class="aboutDesc">
                    A very clear diamond of considerable carat weight, which is badly cut, will disappoint because it possesses none of the sparkle for which diamonds are so valued.
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg mrg_b">
            <div class="col-lg-6 order-1 order-lg-0">
                <h2 class="heading text-start mb-3">Diamond Cut Grades</h2>
                <div class="aboutDesc">
                    That is why at Stienhardt & Stones we provide diamonds that correspond with the grading system of the Gemological Institute of America which guarantees the right quality to our clients :
                </div>
                <ul class="mt-4 mb-0">
                    <li><strong>Excellent:</strong> Cut in a manner designed to maximize the reflection of light for optimum brilliance.</li><br>
                    <li><strong>Very Good:</strong> The majority of light is reflected which contributes to the appealing sparkle.</li><br>
                    <li><strong>Good:</strong> A diamond that is cut well, but still manages to show a fair degree of brilliance.</li><br>
                    <li><strong>Fair:</strong> Some light escapes, but it manages to still have a decent shine.</li><br>
                    <li><strong>Poor:</strong> An excessive amount of light is lost hence little or no sparkle to be seen.</li>
                </ul>
            </div>
            <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/three-sparkling-gemstones-round-brilliant-oval-pear-shape_rest-textured-piece-black-wood-pink-background.jpg?v=1739953541" alt="Three sparkling gemstones—a round brilliant, an oval, and a pear shape—rest on a textured piece of black wood against a pink background." draggable="false" class="img-fluid">
            </div>
        </div>

        <div>
            <h2 class="heading text-start mb-3">Popular Diamond Cuts We Offer</h2>
            <div class="row d-flex justify-content-center align-items-center py-3 py-xl-4">
                <div class="col-3 col-sm-2">
                    <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/circular-geometric-pattern-star-like-shapes-curves-outlined-dark-blue-creating-symmetrical-intricate-design.svg?v=1739954391" alt="Circular geometric pattern with star-like shapes and curves, outlined in dark blue, creating a symmetrical, intricate design." draggable="false" class="img-fluid px-lg-4 px-xl-5">
                </div>
                <div class="col-9 col-sm-10">
                    <h3><strong class="f-20 cl-51">1. Round Brilliant Cut</strong><br></h3>
                    The round brilliant cut diamond, with its 58 facets and perfected light retentivity, is by far the most preferred cut, commonly used in eternity bands and sophisticated jewelry.
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center py-3 py-xl-4">
                <div class="col-3 col-sm-2">
                    <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/geometric-illustration-square-diamond-shape-featuring-sharp-lines-facets-outlined-deep-navy-blue-white-background.svg?v=1739954343" alt="A geometric illustration of a square diamond shape, featuring sharp lines and facets, outlined in deep navy blue on a white background." draggable="false" class="img-fluid px-lg-4 px-xl-5">
                </div>
                <div class="col-9 col-sm-10">
                    <h3><strong class="f-20 cl-51">2. Princess Cut</strong><br></h3>
                    The modern round diamond takes a distinct form with angular edges – a cut that is more complementary to the present times. There is something about this design that makes it suitable for someone who wants to look classy.
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center py-3 py-xl-4">
                <div class="col-3 col-sm-2">
                    <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/minimalist-navy-blue-outline-octagonal-frame-straight-edges-featuring-blank-interior-space.svg?v=1739954285" alt="A minimalist, navy blue outline of an octagonal frame with straight edges, featuring a blank interior space." draggable="false" class="img-fluid px-lg-4 px-xl-5">
                </div>
                <div class="col-9 col-sm-10">
                    <h3><strong class="f-20 cl-51">3. Emerald Cut</strong><br></h3>
                    The emerald cut has the romantic quality of being a rectangular shape and a step cut with corners cut elegantly showcasing clarity and color well, thus it gives every piece a timeless quality.
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center py-3 py-xl-4">
                <div class="col-3 col-sm-2">
                    <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/geometric-outline-cushion-cut-diamond-intricate-facets-square-shape-depicted-dark-blue-white-background.svg?v=1739954215" alt="Geometric outline of a cushion-cut diamond with intricate facets and a square shape, depicted in dark blue against a white background." draggable="false" class="img-fluid px-lg-4 px-xl-5">
                </div>
                <div class="col-9 col-sm-10">
                    <h3><strong class="f-20 cl-51">4. Cushion Cut</strong><br></h3>
                    The cushion cut which is commonly carved in a square or rectangular shape with rounded edges has a soft feminine feel with a twinkling charm that appeals to the women who love the cut.
                </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center py-3 py-xl-4">
                <div class="col-3 col-sm-2">
                    <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/intricate-navy-blue-geometric-design-forming-oval-shape-interwoven-lines-patterns-resembling-lace-like-framework.svg?v=1739954444" alt="An intricate navy blue geometric design forming an oval shape with interwoven lines and patterns, resembling a lace-like framework." draggable="false" class="img-fluid px-lg-4 px-xl-5">
                </div>
                <div class="col-9 col-sm-10">
                    <h3><strong class="f-20 cl-51">5. Oval Cut</strong><br></h3>
                    From the moment it has been introduced to the public, oval cuts have been respected thanks to their flattened figures which aim to make the diamond sparkle more while providing an elegant slim appearance.
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg mrg_tb">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/several-sparkling-diamonds-cut-various-shapes-displayed-dark-velvet-surface-showcasing-brilliance-clarity.jpg?v=1739953572" alt="Several sparkling diamonds, cut into various shapes, are displayed on a dark velvet surface, showcasing their brilliance and clarity." draggable="false" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2 class="heading text-start mb-3">Why Choose Stienhardt & Stones for Your Diamond?</h2>
                <div class="aboutDesc">
                    At Stienhardt & Stones we choose each diamond personally to reach the ideal proportions of the cut, the clarity, the color and the carat weight . You can be assured of shopping with a clear conscience and with great pride due to the high standard of craft skills and the use of materials from kind sources.
                </div>
                <div class="aboutDesc mt-4">
                    <strong>Discover the Perfect Cut</strong><br>
                    It is not so easy to find a diamond as it is beautiful inside – that’s what each jeweler comes up with, every diamond has some concept behind it. Browse through our amazing range of diamond jewelry now and allow our skilled staff to find the best diamond for your needs. Visit us online at Stienhardt & Stones today and behold the exquisite beauty of well-designed and cut diamonds!
                </div>
            </div>
        </div>

    </div>
</Section>

{% schema %}
    {
    "name": "Diamond Cut",
    "tag": "section",
    "presets": [
      {
        "name": "Diamond Cut"
      }
    ]
  }  
{% endschema %}

