<section class="mrg_tb">
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center mb-4">
            <h2 class="heading">FAQ</h2>
            <div class="subHeading">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</div>
        </div>


        <div class="accordion accordion-flush" id="accordionFlushDiamondClarityFAQ">

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQOne" aria-expanded="false" aria-controls="flush-collapseFAQOne">
                    What is the best diamond clarity grade to choose?
                </button>
              </h2>
              <div id="flush-collapseFAQOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">
                    <ul class="pt-2">
                        <li>Tiffany clarity it appears is non-dependent on any external factors. FL pristine and IF immaculate fit gemstones that seek out rarity or flaws.</li><br>
                        <li>VVS1-VS2 range provides high level gems for less and has an ability to include imperfections that cannot be seen with the naked eye.</li><br>
                        <li>SI1-SI2 range is perfect for those who are cost sensitive but still in need of clean stones.</li>
                    </ul>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQTwo" aria-expanded="false" aria-controls="flush-collapseFAQTwo">
                    What does “eye-clean” mean?
                </button>
              </h2>
              <div id="flush-collapseFAQTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">This means it is free from inclusions visible without the aid of a jeweler’s loupe, however, inclusions may be present if the diamond is magnified. Most diamonds with this clarity VS2 and SI1 are usually eye clean.</div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQThree" aria-expanded="false" aria-controls="flush-collapseFAQThree">
                    Does diamond clarity affect sparkle?
                </button>
              </h2>
              <div id="flush-collapseFAQThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">
                    Yes, but to a lesser extent, cut. The weight and position of large noticeable flaws can cause distortion of light and thus cause minimal sparkle. However most of the time the effect of clarity on shine is less than that of the cut of the diamond.
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQFour" aria-expanded="false" aria-controls="flush-collapseFAQFour">
                    What is the difference between VVS and VS clarity grades?
                </button>
              </h2>
              <div id="flush-collapseFAQFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">
                    VVS: Very very slight inclusion: inclusions are so tiny that they can hardly be seen even by a ten magnification lens. VVS inclusions. VS: very slightly included: larger inclusions present but not visible to the naked eye.
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQFive" aria-expanded="false" aria-controls="flush-collapseFAQFive">
                    Are inclusions visible in an SI1 or SI2 diamond?
                </button>
              </h2>
              <div id="flush-collapseFAQFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">
                    Inclusion presence is situation-dependent.<br>
                    <ul class="pt-2">
                        <li>SI1 diamonds are generally clean with the eye and free from flaws which some will have flaws visible with the eye.</li><br>
                        <li>SI2 inclusions are likely to be present and noticeable especially in larger sized stones.</li>
                    </ul>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQSix" aria-expanded="false" aria-controls="flush-collapseFAQSix">
                    Should I prioritize clarity over cut or color?
                </button>
              </h2>
              <div id="flush-collapseFAQSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">
                    Not really.<br>
                    <ul class="pt-2">
                        <li>Cut is the most important factor that determines the diamond's brilliance.</li><br>
                        <li>Clarity and color can depend on your preference or pocket especially buy eye clean diamonds.</li>
                    </ul>
                </div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQSeven" aria-expanded="false" aria-controls="flush-collapseFAQSeven">
                    Are inclusions a sign of a poor-quality diamond?
                </button>
              </h2>
              <div id="flush-collapseFAQSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">No inclusions are formed naturally, and thus formed while a diamond was being created. Most inclusions are considered non-detrimental because they are too tiny to affect the beauty or endurance of the diamond.</div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQEight" aria-expanded="false" aria-controls="flush-collapseFAQEight">
                    Do larger diamonds need a higher clarity grade?
                </button>
              </h2>
              <div id="flush-collapseFAQEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">In general, yes. As the quality of the diamonds increases in size, the blemishes become more apparent and so there is a need for a higher clarity grade to keep it clean to the eyes.</div>
              </div>
            </div>
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQNine" aria-expanded="false" aria-controls="flush-collapseFAQNine">
                    Are all inclusions visible to the naked eye?
                </button>
              </h2>
              <div id="flush-collapseFAQNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">No, reviewed diamonds classified as VS2 and above have almost all their inclusions hidden without help. With the exception of some SI1 diamonds, the majority of them look absolutely clean from naked eyesight.</div>
              </div>
            </div>           
            
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed ivy f-20 cusLspace FAQBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFAQTen" aria-expanded="false" aria-controls="flush-collapseFAQTen">
                    Can I see a diamond’s inclusions before buying?
                </button>
              </h2>
              <div id="flush-collapseFAQTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushDiamondClarityFAQ">
                <div class="accordion-body FAQBody">You will! At Stienhardt & Stones, you will find dozens of images with detailed close-up and videos of our diamonds with their clarity and inclusions presentation before you make your choice.</div>
              </div>
            </div>
        
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Diamond Clarity Faqs",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Diamond Clarity Faqs"
      }
    ]
  }
{% endschema %}