<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="heading text-start">Understanding Diamond Clarity: A Guide by Stienhardt & Stones</h2>
            <div class="GuideHeading text-center">At Stienhardt & Stones, we understand that each diamond has a story to tell, and how well it is told depends on several factors, one of them being clarity. The clarity of a diamond enhances its beauty and its price as well so it is a factor worth considering while selecting your ideal stone.</div>
        </div>

        <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/diagram-illustrating-diamond-clarity-grades-flawless-fl-included-circular-depictions-representing-grade.png?v=1739956060" alt="A diagram illustrating diamond clarity grades from Flawless (FL) to Included (I1, I2), with circular depictions representing each grade." draggable="false" class="img-fluid my-4">

        <h2 class="heading text-start">What is Diamond Clarity?</h2>
        <div class="GuideHeading text-start">
            Diamond clarity is the degree to which the diamond is free from or clear of inclusions and blemishes. Inclusions are characteristics found inside any given stone while blemishes are imperfections found outside the stone. Such features are natural and generally happen while the diamond is being formed, and they are often microscopic.<br><br>
            
            The Gemological Institute of America (GIA) provides a scale of diamond clarity that allows customers to know the standard of the diamond that they are buying. It includes;
        </div><br>
        <ul>
            <li><strong>FL (Flawless):</strong> No inclusions or blemishes visible to the naked eye, even at 10x magnification.</li><br>

            <li><strong>IF (Internally Flawless):</strong> Free of internal inclusions, but with surface blemishes only.</li><br>
            
            <li><strong>VVS1, VVS2 (Very, Very Slightly Included):</strong> So well concealed that even at 10x difficulty can detect these inclusions.</li><br>

            <li><strong>VS1, VS2 (Very Slightly Included):</strong> Inclusions visible at 10x magnification but not to the naked eye.</li><br>

            <li><strong>SI1, SI2 (Slightly Included):</strong> Inclusions visible at 10x magnification and may be seen without magnification in some examples.</li><br>

            <li><strong>I1, I2, I3 (Included):</strong> Inclusions easily visible to the eye and affect beauty.</li>
        </ul>
        
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Guide Texts
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

    
        <div class="row d-flex justify-content-center align-items-center mx-0 cusMyMrg mrg_tb">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/round-oval-diamond-gleaming-amidst-rough-blue-stones-held-tweezers-dark-background.png?v=1739956110" alt="A round and an oval diamond, gleaming amidst rough blue stones, held by tweezers against a dark background." draggable="false" class="img-fluid">
            </div>
            <div class="col-lg-6">
                <h2 class="heading text-start mb-3">Why is Diamond Clarity Important?</h2>
                <div class="aboutDesc">
                    Clarity contributes to the beauty and light performance of a diamond. With less inclusions and blemishes more light is able to pass through that diamond resulting in greater brilliance. But some from some point of view inclusions are so tiny that they have no effect on the aesthetics of the diamond hence clarity is subjective and depends on value.
                </div>
            </div>
        </div>
        

    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                3 Topics
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <h2 class="heading text-start mb-3">How to Choose the Right Diamond Clarity</h2>
        
        <div class="row d-flex justify-content-center">
            <div class="col-12 my-3 my-lg-0">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">1. Look for Eye-Clean Diamonds</strong><br></h3>
                    <div class="cl-51 pt-1">
                        An eye-clean diamond, which may possess a lower clarity grade than she has no visible inclusions on the diamond under natural light without any magnification. Consider this for instance:
                        <ul class="pt-2">
                            <li>Diamonds grading VS1-VS2 often are perceived to be flawless without the cost of higher grade diamonds.</li><br>
                            <li>Dollars SI1 diamond range represents hard to find purchase value due to visible inclusions yet are relatively full of beauty.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">2. Consider the Diamond's Size</strong><br></h3>
                    <div class="cl-51 pt-1">
                        A larger diamond may be given a lower grading of clarity but inclusion would still be more apparent in a diamond that is larger in size.
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">3. Match the Clarity to the Cut</strong><br></h3>
                    <div class="cl-51 pt-1">
                        Brilliant round and princess cuts cluster hiding more inclusion than in step cuts like emerald and Asscher with large, accessible facets.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Bottom Content
=====================================================================================================================================================-->
<section>
    <div class="container">

            <h2 class="heading text-start">Explore Diamond Clarity at Stienhardt & Stones</h2>
            <div class="GuideHeading text-start pb-4">
                At Stienhardt & Stones, we pride ourselves on assessing every diamond’s clarity only where needed. Diamond experts here will assist you to find a suitable diamond based on how clear, beautiful and cheap the diamond comes.<br><br>

                Whether you admire the flawless complexion of a diamond or appreciate the distinctive beauty of a stone with slight inclusions, we have something for everyone.<br><br>

                Find your dream diamond now. Visit our website or reach us to assist you in picking the right clarity for you from our trust clarity range.
            </div>
            <a href="https://stienhardt.com/collections/lab-diamonds" class="cusA cusBtnOne">Shop Engagement Rings</a>

    </div>
</section>



{% schema %}
    {
    "name": "Diamond Clarity",
    "tag": "section",
    "presets": [
      {
        "name": "Diamond Clarity"
      }
    ]
  }  
{% endschema %}

