



<!-- =====================================================================================================================================================
                                                                Why Choose Our Financing Options?
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Why Choose Our Financing Options?</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>Flexible Payment Plans:</strong> You don’t have to cough up a lump sum rather you make payments over a given time line.</li><br>
                        <li><strong>Low or No Interest Options:</strong> Depending on the plan, enjoy low or 0 % interest rates. Quick Approval Process: Anyone can apply without the risk of damaging their credit score.</li><br>
                        <li><strong>No Hidden Fees:</strong> Clear cut terms and no fine print tricks.</li><br>
                        <li><strong>High Purchase Limits:</strong> Funds for financing may be used for small, or rather big purchases without complications.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Financing Options Available
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <div class="headingBG  mb-3"><h2 class="heading text-start">Financing Options Available</h2></div>
        
        <div class="row d-flex justify-content-center">

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">1. Interest-Free Financing</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>There is 0% interest for some selected plans up to payment assist periods of 6 or 12 months.</li><br>
                            <li>These range of options are perfect for financing engagement rings, lab grown diamonds etc on a short term.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">2. Long-Term Financing</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>This allows payments to be stretched between 24 to 48 months with quite reasonable applied interest rates.</li><br>
                            <li>This is ideal for cases where one is buying larger items or makes work custom made jewelry.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">3. Buy Now, Pay Later</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Also known as the BNPL option – this allows the customer to split their purchase into 4 equal payments which attract no interest within a period.</li><br>
                            <li>No credit check is considered for the first initial approval.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">4. Credit Card Financing</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>This method uses the credit card for the sake of collecting loyalty points and at the same time spreading the payment over time.</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                How to Apply for Financing
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <div class="headingBG  mb-3"><h2 class="heading text-start">How to Apply for Financing</h2></div>
        
        <div class="row d-flex justify-content-center">

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">1. Select Financing at Checkout</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Pick your desired piece of jewelry and add it to the cart. Check out the proceeds.</li><br>
                            <li>Purchase the financing option available which is most effective to you.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">2. Complete the Quick Application</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>No more than three other forms are filled up.</li><br>
                            <li>Wait for a reply, which is ready within minutes, but which does not require any inquiry much to your credit rating.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">3. Finalize Your Purchase</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>After the confirmation, finish the transaction and start wearing your jewelry without delays.</li><br>
                            <li>Payments will be deducted automatically according to the plan you have selected.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Eligibility Requirements
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Eligibility Requirements</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li>The age limit of 18 years is mandatory.</li><br>
                        <li>A government id and physical address in the United States are necessary.</li><br>
                        <li>Proof of income or financial stability of some sort is required.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Benefits of Financing with Stienhardt & Stones
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Benefits of Financing with Stienhardt & Stones</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li>Affordable Payments: Divide the cost of your purchase to smaller, more manageable sums.</li><br>
                        <li>Access to Premium Jewelry: Obtain exquisite and ethically sourced jewelry without breaking the bank.</li><br>
                        <li>Trust in Your Purchase: Use trusted payment providers to enable you purchase and finance like an investment.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>








{% schema %}
    {
    "name": "Easy Financing Options",
    "tag": "section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Easy Financing Options"
      }
    ]
  }  
  {% endschema %}