<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="heading text-center">Ethical Diamonds: Beauty with Responsibility</h2>
            <div class="GuideHeading text-center">Ethics is imperative to our business ideology in Stienhardt & Stones and we advocate for the purchase of diamonds that are both beautiful and clean. The diamonds that we sell are manufactured and harvested with utmost precautions as to meet the set ethical, sustainable and transparency standards.</div>
        </div>
   
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                What Are Ethical Diamonds?
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            <div class="col-lg-6 mb-4 mb-lg-0 stickyTop stickyNone">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/pair-tweezers-holds-sparkling-diamond-metal-tray-filled-various-cut-uncut-gemstones.png?v=1739867790" alt="A pair of tweezers holds a sparkling diamond over a metal tray filled with various cut and uncut gemstones." draggable="false" class="img-fluid">
            </div>
            <div class="col-lg-6 stickyTop stickyNone">
                <h2 class="heading text-start mb-3">What Are Ethical Diamonds?</h2>
                <div class="aboutDesc">
                    <div class="GuideHeading text-start pt-1">
                        Ethical diamonds are the stones that are sourced or manufactured after consideration of the following:<br>
                    </div>
                    <ul class="m-0 pt-2">
                        <li><strong>Human Rights:</strong> Treating all the workers involved in mining and all processes of production properly.</li>
                        <li><strong>Environmental Sustainability:</strong> Curbing the effects caused by the mining and production of diamond.</li>
                        <li><strong>Transparency:</strong> Possibility of tracing the path of the diamond from ‘the mine to the market’.</li>
                    </ul>
                </div>
            </div>
        </div>     

    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                3 Topics - Our Commitment to Ethical Practices
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <h2 class="heading text-start">Our Commitment to Ethical Practices</h2>   

        <div class="row d-flex justify-content-center">

            <div class="col-md-6 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">1. Lab-Grown Diamonds</strong><br></h3>
                    <div class="cl-51 pt-1">
                        We mainly deal with lab-grown diamonds, which are man-made diamonds and an eco-friendly substitute to mined ones. This type of diamond is made in a laboratory using sophisticated equipment under controlled conditions and therefore:
                        <ul class="mb-0">
                            <li>Custom made accessories like vintage engagement rings, monogram rings and engraved bangles add a personal touch in a true sense.</li>
                            <li>From anniversary remembrances to birthday custom earrings, such creations make very special timepieces.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">2. Responsibly Sourced Natural Diamonds</strong><br></h3>
                    <div class="cl-51 pt-1">
                        For customers who are more inclined to natural diamonds, we provide:
                        <ul class="mb-0">
                            <li>Conflict-Free Certification: Really each diamond is certified conflict-free. As in, it has undergone the Kimberley Process preventing trade of blood diamonds.</li>
                            <li>Fair Wages and Safe Conditions: Where social responsibility is observed by empowering the local communities - and ethical to labor.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">3. Recycled Diamonds and Materials</strong><br></h3>
                    <div class="cl-51 pt-1">
                        Diamonds and metals that we recycle:
                        <ul class="mb-0">
                            <li>Contribute to reducing waste materials by utilizing precious resources again.</li>
                            <li>Modern techniques help in preserving the originality of old fashioned designs.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Benefits of Choosing Ethical Diamonds
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            <div class="col-lg-6 order-1 order-lg-0 stickyTop stickyNone">
                <h2 class="heading text-start mb-3">Benefits of Choosing Ethical Diamonds</h2>
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>Peace of Mind:</strong> Awareness that the purchase is not only ethical but also sustainable.</li>
                        <li><strong>Concerns for the Environment:</strong> Preservation of natural resources and the enhancement of the carbon footprint.</li>
                        <li><strong>Encouragement of Social Justice:</strong> Encourage the payment of decent wages along with other working conditions in the entire diamond supply chain.</li>
                        <li><strong>Quality Without Compromise:</strong> Ethical Diamonds provide the same little sparkle if not more than the ordinary ones.</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 mb-4 mb-lg-0 order-0 order-lg-1 stickyTop stickyNone">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/three-pear-shaped-diamonds-displayed-blue-background-diamonds-metal-scoop-tools-nearby.png?v=1739867836" alt="Three pear-shaped diamonds are displayed on a blue background, with more diamonds in a metal scoop and tools nearby." draggable="false" class="img-fluid">
            </div>
        </div>

    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                3 Topics - How to Identify Ethical Diamonds
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <h2 class="heading text-start">How to Identify Ethical Diamonds</h2>

        <div class="row d-flex justify-content-center">

            <div class="col-md-6 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">1. Certification</strong><br></h3>
                    <div class="cl-51 pt-1">
                        Make certain that the diamonds are from trustworthy entities, for instance:
                        <ul class="mb-0">
                            <li>Kimberley Process Certification Scheme (KPCS)</li>
                            <li>SCS Global Services for Sustainability</li>
                            <li>GIA Diamond Grading Reports</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">2. Transparency from Jewelers</strong><br></h3>
                    <div class="cl-51 pt-1">
                        Consider brands like Stienhardt & Stones that give more information on the aspects of raw material procurement, production, and environmental considerations.
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">3. Opt for Lab-Grown Diamonds</strong><br></h3>
                    <div class="cl-51 pt-1">
                        Another viable option that is most ideal to modern consumers and also environmentally friendly is lab grown diamonds.
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- =====================================================================================================================================================
                                                                Our Ethical Jewelry Collection
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            <div class="col-lg-6 mb-4 mb-lg-0 stickyTop stickyNone">
                <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/close-womans-arms-showcasing-elegant-jewelry-sparkling-ring-two-bracelets.png?v=1739867747" alt="A close-up of a woman’s arms showcasing elegant jewelry: a sparkling ring and two bracelets, against a neutral background." draggable="false" class="img-fluid">
            </div>
            <div class="col-lg-6 stickyTop stickyNone">
                <h2 class="heading text-start mb-3">Our Ethical Jewelry Collection</h2>
                <div class="aboutDesc">
                    <div class="GuideHeading text-start mt-4">
                        Browse through an extensive selection designed with conscience and responsibility.<br>
                        <ul class="m-0 pt-2">
                            <li><strong>Engagement Rings:</strong> Including lab created and non-conflict diamonds.</li>
                            <li><strong>Wedding Bands:</strong> Constructed from recycled metal and ethically sourced stones.</li>
                            <li><strong>Bespoke Jewelry:</strong> Made to your design using eco-friendly materials.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>     

    </div>
</Section>

{% schema %}
    {
    "name": "Ethical Diamonds",
    "tag": "section",
    "presets": [
      {
        "name": "Ethical Diamonds"
      }
    ]
  }  
{% endschema %}