    <!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="GuideHeading text-center">In addition to offering a wide range of services to clients at Stienhardt & Stones, ensuring satisfaction of clients comes fast. Buying jewelry is understood as a very personal occasion and we wouldn’t want you to feel otherwise while shopping with us. This is the reason why we have, for your shopping pleasure, tailored how to return items in a worry free way regardless of the duration taken after the purchase period.</div>
        </div>
        
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Free Returns Policy Highlights
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Free Returns Policy Highlights</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>No Restocking Fee:</strong> Worry free returning of products that are not used for the purpose intended and there are no hidden charges on them.</li><br>
                        <li><strong>15 Days Return Window:</strong> Eligible items can be returned within thirty 15 days after the item has been delivered.</li><br>
                        <li><strong>Prepaid Shipping Labels:</strong> A prepaid shipping label for all returns is offered within the US.</li><br>
                        <li><strong>Easy Process:</strong> A short span is needed to return a product making it easy to purchase with all customers having peace of mind.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Eligible Items for Free Returns
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Eligible Items for Free Returns</h2></div>
                
                <div class="aboutDesc">
                    We are pleased to offer qualifying returns for the products listed here:<br>
                    <ul class="m-0 pt-2">
                        <li>Non-personalized pieces such as rings, earrings, necklaces and bracelets.</li><br>
                        <li>Jewelry that has not been worn or damaged, and is in its original, newer state.</li><br>
                        <li>Complete with all returned boxes, jewelry, certificates and all the attachments inside.</li><br>
                        <li>Customers who choose to pay by deposit must complete balance and within 15 days of final invoice sent. If not, the item will no longer be eligible for return.</li><br>
                        <li>For pick up, Items not picked up within 15 days of completion will also no longer be eligible for return.</li>
                      
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Items Not Eligible for Free Returns
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Items Not Eligible for Free Returns</h2></div>
                
                <div class="aboutDesc">
                    The items listed below do not qualify for the free returns policy:<br>
                    <ul class="m-0 pt-2">
                        <li>Custom or personalized pieces.</li><br>
                        <li>Modified jewelry pieces.</li><br>
                        <li>Final clearance or sale items.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>



<!-- =====================================================================================================================================================
                                                                How to Initiate a Return
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <div class="headingBG  mb-3"><h2 class="heading text-start">How to Initiate a Return</h2></div>
        
        <div class="row d-flex justify-content-center">

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">1. Contact Us</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Send us an email to customer service at <a href="mailto:care@stienhardt.com" class="cusA cusTransition cfw-Medi cl-theme" aria-label="send an email to care@stienhardt.com">care@stienhardt.com</a> or call us at <a href="tel:+19179096402" class="cusA cusTransition cfw-Medi cl-theme" aria-label="call: +1 917-909-6402">917-909-6402.</a></li><br>
                            <li>Give your order number and the information of the item you would like to return.</li>   
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">2. Receive Your Prepaid Label</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>After your return is authorized, a prepaid return shipping label will be sent to you via email.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">3. Package Your Item Securely</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Place back the box, jewelry, certificates, and any other accessories in the return box.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">4. Drop Off Your Package</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Return the box applying the pre-paid return labels and send the box through any preferred couriers.</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>



<!-- =====================================================================================================================================================
                                                                Refund Process
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Refund Process</h2></div>
                
                <div class="aboutDesc">
                    The items listed below do not qualify for the free returns policy:<br>
                    <ul class="m-0 pt-2">
                        <li>Upon receipt of the returned item and completion of an inspection, the refund will be processed in 7-10 business days.</li><br>
                        <li>Refunds will be made to the original mode of payment.</li><br>
                        <li>An email will be sent to you confirming the refund once the process to refund you has commenced.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Exchanges
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Exchanges</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li>In the case that you would like an item exchanged, kindly perform the same return process that was outlined previously.</li><br>
                        <li>Tell us what other item you would like and we shall hurry the exchange.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                International Returns
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">International Returns</h2></div>
                
                <div class="aboutDesc">
                    Hassle-Free Returns:<br>
                    <ul class="m-0 pt-2">
                        <li>We want you to shop with confidence. If you're not completely satisfied with your purchase, you may return your item in accordance with our return policy.</li><br>
                    </ul>
                  Returns for international clients::<br>
                  <ul class="m-0 pt-2">
                        <li>We gladly accept international returns. However, shipping label fees may apply depending on your location. Please contact our support team for assistance with the return process specific to your country.</li><br>
                    </ul>
                  Important Notice:<br>
                  <ul class="m-0 pt-2">
                        <li>Due to recent economic shifts, all import tariffs and related duties will be the responsibility of the customer party.</li>
                  <li>For further details, please visit our Returns & Exchanges page or reach out to our customer support team.</li>  
                  </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Missed Deliveries & Return Policy Activation
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Missed Deliveries & Return Policy Activation</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li>If a customer is unavailable to receive their order and the package is returned to the shipping carrier (e.g., UPS) after multiple delivery attempts, the return window will begin on the date of the final delivery attempt as recorded by the carrier.</li><br>
                        <li>It is the customer's responsibility to track the shipment and ensure receipt within the carrier’s delivery timeframe.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>



{% schema %}
    {
    "name": "Free Returns",
    "tag": "section",
    "presets": [
      {
        "name": "Free Returns"
      }
    ]
  }  
  {% endschema %}