
<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="heading text-center">Free Shipping Policy for Stienhardt & Stones</h2>
            <div class="GuideHeading text-center">At Stienhardt & Stones we want to make your shopping experience as smooth as possible so we offer Free Shipping on all orders over $1,000. Our commitment to quality and service extends to every part of your purchase including delivery.</div>
        </div>
        
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Shipping
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <div class="headingBG  mb-3"><h2 class="heading text-start">Shipping</h2></div>
        
        <div class="row d-flex justify-content-center">

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">1. Domestic Shipping:</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>All orders over $1,000 are shipped via UPS 2nd Day Air, so your jewelry arrives fast and secure. A signature will be required upon delivery for added security.</li><br>
                            <li>Under $1,000 we use UPS Ground shipping which also requires a signature upon delivery.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">2. International Shipping:</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>We use UPS Worldwide Express for international orders, which takes 3-5 business days. Please note customs duties may apply and will be the customer’s responsibility.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Insurance and Tracking
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Insurance and Tracking</h2></div>
                
                <div class="aboutDesc">
                    Every shipment from Stienhardt & Stones is fully insured so you can rest assured your jewelry is protected in transit. Once your order ships you will receive a tracking number via email so you can track your package until it arrives at your doorstep.
                </div>
                
            </div>
        </div>
         
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Returns
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Returns</h2></div>
                
                <div class="aboutDesc">
                    If you need to return your purchase we have a hassle free return policy which allows you to do so within 15 days of delivery. Items must be in original condition and packaging. For more information on our return process see our Return Policy.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Customer Service
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Customer Service</h2></div>
                
                <div class="aboutDesc">
                    If you have any questions on our shipping policy or need help with your order please email <a href="mailto:care@stienhardt.com" class="cusA cusTransition cfw-Medi cl-theme" aria-label="send an email to care@stienhardt.com">care@stienhardt.com</a> or call <a href="tel:+19179096402" class="cusA cusTransition cfw-Medi cl-theme" aria-label="call: +1 917-909-6402">917-909-6402</a>. We’re here to help! Thanks for shopping Stienhardt & Stones. We appreciate it!
                </div>
                
            </div>
        </div>
        
    </div>
</Section>



{% schema %}
    {
    "name": "Free Shipping",
    "tag": "section",
    "presets": [
      {
        "name": "Free Shipping"
      }
    ]
  }  
{% endschema %}