<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="GuideHeading text-center">
                For us at Stienhardt & Stones, we know that wearing a piece of jewelry is all about how great the piece feels on the body. That is the reason we have a Free Resizing Service for qualifying products where you can have your jewelry piece adjusted to fit better.</div>
        </div>
        
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                What is Free Resizing?
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">What is Free Resizing?</h2></div>
                
                <div class="aboutDesc">
                    Our resizing free of charge service provides you with a chance to change the size of your jewelry for a limited date after the purchase has been made without incurring expenses. If it is a ring that is slightly tight or a bracelet that requires a bit of change, we’ve got you covered.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Eligibility for Free Resizing
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <div class="headingBG  mb-3"><h2 class="heading text-start">Eligibility for Free Resizing</h2></div>
        
        <div class="row d-flex justify-content-center">

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">Eligible Items:</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>All types of rings including promise engagement and marriage rings.</li><br>
                            <li>Certain types of bracelets and bangles that can be easily resized except all rigid bangles.</li><br>
                            <li>Jewelry bought from Stienhardt & Stones only.</li>   
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">Non-Eligible Items:</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Rings that are set with stones all the way around or eternity bands.</li><br>
                            <li>Bespoke or made to order wedding jewelry.</li><br>
                            <li>Jewelry with complex designs that cannot extend in size.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                How to Request Free Resizing
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <div class="headingBG  mb-3"><h2 class="heading text-start">How to Request Free Resizing</h2></div>
        
        <div class="row d-flex justify-content-center">

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">1. Contact Our Support Team</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Write to us at <a href="mailto:care@stienhardt.com" class="cusA cusTransition cfw-Medi cl-theme" aria-label="send an email to care@stienhardt.com">care@stienhardt.com</a> or call us at <a href="tel:+19179096402" class="cusA cusTransition cfw-Medi cl-theme" aria-label="call: +1 917-909-6402">917-909-6402.</a></li><br>
                            <li>Indicate your order number and specifics of the resizing request.</li>   
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">2. Ship Your Jewelry to Us</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>We will issue a prepaid shipping label for all resizing requests within the United States.</li><br>
                            <li>Properly pack the jewelry for shipping along with all the papers received with the jewelry purchase.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">3. Resizing and Return</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Upon receiving your jewelry, a team of talented artisans would resize and restore your jewelry piece accordingly.</li><br>
                            <li>In the resizing process, which Grade Jewelry will take normally 7-14 business days after which your item will be refunded and sent back to you at no fee.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>



{% schema %}
    {
    "name": "Free Resizing",
    "tag": "section",
    "presets": [
      {
        "name": "Free Resizing"
      }
    ]
  }  
{% endschema %}