<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="heading text-center">FAQs at Stienhardt & Stones</h2>
            <div class="GuideHeading text-center">On our website Stienhardt & Stones, your satisfaction is important to us and we try to deliver all the info you want to be satisfied with your shopping. To help you navigate this world of diamonds, no matter whether you are interested in diamond jewelry, buying lab grown diamonds or getting to know about custom jewelry, we provide for you the answers to the most frequent questions in our carefully developed list of FAQs.</div>
        </div>
   
    </div>
</section>



{% schema %}
    {
    "name": "Frequently Asked Question",
    "tag": "section",
    "presets": [
      {
        "name": "Frequently Asked Questions"
      }
    ]
  }  
{% endschema %}

