<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <h2 class="heading text-center">Lifetime Warranty Policy for Stienhardt & Stones</h2>
            <div class="GuideHeading text-center">We at Stienhardt & Stones promise our best efforts in lab-grown diamond jewelry quality. To guarantee full satisfaction with your purchase, we offer a Lifetime Manufacturing Warranty on all jewelry purchased through our website.</div>
        </div>
        
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                What Our Lifetime Warranty Covers
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">How to Claim Your Warranty</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li> <strong>Manufacturing Defects:</strong> Under this warranty coverage, the defects in materials as well as workmanship during normal use of your jewelry would be such as loose stones, faulty clasps, or any other manufacturing flaw.</li><br>
                        <li> <strong>Non-Transferable:</strong> This warranty is not transferable and is valid solely for the original purchaser of the jewelry.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Quality Assurance
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Quality Assurance</h2></div>
                
                <div class="aboutDesc">
                    We take pride in the craft of our products. All the pieces go through vigorous inspection before they ship to assure that they have met high standards of quality. One would know that our lab-grown diamonds and jewelry are made of the most advanced technologies such that they are pretty yet ethically sourced.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                How to File a Warranty Claim
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <div class="headingBG  mb-3"><h2 class="heading text-start">How to File a Warranty Claim</h2></div>
        <div class="aboutDesc">
            If you think that your jewelry has a manufacturing defect, contact our Customer Service Team at <a href="mailto:care@stienhardt.com" class="cusA cusTransition cfw-Medi cl-theme" aria-label="send an email to care@stienhardt.com">care@stienhardt.com</a>. We will help you through our warranty claim procedure that may involve:
        </div>
        
        <div class="row d-flex justify-content-center">

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">1. Verification</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>This is due to procedures that require the customer to present original purchase receipts, and information about the problem.</li>   
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">2. Assessment</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Sending back your item to have it checked.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <h3><strong class="f-20 cl-51">3. Resolution</strong><br></h3>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>In the course of the assessment, we shall then decide whether the item needs to be repaired, or replaced free of charge.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Exclusions
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Exclusions</h2></div>
                
                <div class="aboutDesc">
                    Please note that our warranty does not cover:
                    <ul class="m-0 pt-2">
                        <li>Deliberately caused losses or those that occur accidentally, or losses caused simply by normal aging or regular usage of the product.</li><br>
                        <li>Theft or loss of the jewelry for any reasons whatsoever.</li><br>
                        <li>Any consumer product which was altered from the original form either on sale or after it was sold.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Commitment to Sustainability
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Commitment to Sustainability</h2></div>
                
                <div class="aboutDesc">
                    When you purchase stunning, affordable lab diamonds from us, you will not just own a fabulous product but also support an environmentally-friendly company where applicable. The lifetime warranty not only attests to the quality of our products; it attests more to the value we place in our customer. If you have any concern on our Lifetime Manufacturing Warranty or anything else related, please feel free to contact us at <a href="mailto:care@stienhardt.com" class="cusA cusTransition cfw-Medi cl-theme" aria-label="send an email to care@stienhardt.com">care@stienhardt.com</a>. We're here to help you!
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


{% schema %}
    {
    "name": "Lifetime Warranty",
    "tag": "section",
    "presets": [
      {
        "name": "Lifetime Warranty"
      }
    ]
  }  
{% endschema %}