<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="GuideHeading text-center">At Stienhardt & Stones, we have rigorous quality control over the jewelry we make. Every piece is created and designed with great attention to detail and is measured by the highest standards. Therefore, to ensure your satisfaction and calmness, a detailed Manufacturing Warranty is attached to all pieces that protects from defects in the materials and workmanship.</div>
        </div>
        
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                What Does the Manufacturing Warranty Cover?
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">What Does the Manufacturing Warranty Cover?</h2></div>
                
                <div class="aboutDesc">
                    The Manufacturing Warranty is valid for the defects in manufacturing, which include but are not limited to:
                    <ul class="m-0 pt-2">
                        <li>Design changes which may include prongs, or other settings that become undone</li><br>
                        <li>Material defects inclusive of gold, pleats of platinum, and silver.</li><br>
                        <li>Catches or any closing mechanism of necklaces, bangles, or earrings which are not in working condition</li><br>
                        <li>Resulting defects in the placement of stones.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                What is Not Covered?
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Eligible Items for Free Returns</h2></div>
                
                <div class="aboutDesc">
                    Even though we provide the best qualities possible, still, the warranty excludes the following.
                    <ul class="m-0 pt-2">
                        <li>The jewelry is damaged through wear and tear, intentional misuse, or undesired accidents.</li><br>
                        <li>Jewel stones lost due to carelessness in handling or poor care.</li><br>
                        <li>Work done on or the alteration of jewelry by non-approved jewelers.</li><br>
                        <li>Contact with abrasive substances which can erode metal or stones.</li><br>
                        <li>Misplacement or breaking of the ring.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                Warranty Duration
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Warranty Duration</h2></div>
                
                <div class="aboutDesc">
                    The Manufacturing Warranty shall remain effective for twelve months from the purchase date. After this period, wherever possible, repairs and servicing shall be provided at a fixed charge.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>



<!-- =====================================================================================================================================================
                                                                How to File a Warranty Claim
=====================================================================================================================================================-->
<section class="mrg_tb">
    <div class="container">
        <div class="headingBG  mb-3"><h2 class="heading text-start">How to File a Warranty Claim</h2></div>
        
        <div class="row d-flex justify-content-center">

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">1. Inspect Your Jewelry</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>When an issue that seems applicable under the warranty occurs, please reach out to our customer service agent right away.</li>   
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">2. Provide Proof of Purchase</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Make sure you have the original receipt or a proof of purchase. It is necessary to support your claim.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">3. Ship Your Jewelry to Us</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>For qualified claims, we will send you complete steps to follow and an insured return interval.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-12 my-3">
                <div class="cusGuideBoxbrdr">
                    <div><strong class="f-20 cl-51">4. Expert Assessment and Resolution</strong><br></div>
                    <div class="cl-51 pt-1">
                        <ul class="m-0 pt-2">
                            <li>Our master jewelers shall regard your item, establish the problem and repair or replace the item when deemed appropriate.  Repairs are in most cases done within a period format of 10-14 business days depending upon how complex the issue is.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Tips for Maintaining Warranty Coverage
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Tips for Maintaining Warranty Coverage</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>Observe Our Care Recommendations:</strong> Preserve your jewels by cleaning them appropriately and remain in moderate conditions.</li><br>
                        <li><strong>Store Properly:</strong> Keep in the provided jeweler’s box or purse to prevent any damages when not in use.</li><br>
                        <li><strong>Routine Checks:</strong> Come to our outlet or book with a qualified jeweler once a year for an inspection of every component.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


{% schema %}
    {
    "name": "Manufacturing Warranty",
    "tag": "section",
    "presets": [
      {
        "name": "Manufacturing Warranty"
      }
    ]
  }  
{% endschema %}