
<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="GuideHeading text-center">Effective Date: December 1, 2024<br>
                Welcome to Stienhardt & Stones!! With us, you are safe and secure regarding your personal information. The Privacy Policy explains how we collect, use, disclose, protect, and safeguard your data when you visit or engage with us via website, service, or any communication channels, which will be collectively referred to as the "Services." By accessing or using our Services, you thereby agree with the following policy. If you disagree with any provision of this policy, please cease all usage of our Services.
                </div>
        </div>
   
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                Changes to This Privacy Policy
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">Changes to This Privacy Policy</h2></div>
                
                <div class="aboutDesc">
                    This Privacy Policy will generally be updated from time to time to keep up with the changes in service provision, law, or regulation. This page will bear our updated policies together with the revised "Effective Date." Please review it periodically to know our practice.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                1. Information We Collect
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">1. Information We Collect</h2></div>
                
                <div class="aboutDesc">
                    Information we collect is processed to provide and develop our Services. The type of data we collect depends on how you interact with us and may include:
                    
                    <div class="row d-flex justify-content-center">

                        <div class="col-12 my-3">
                            <div class="cusGuideBoxbrdr">
                                <h3><strong class="f-20 cl-51">1. Directly Provided Information</strong><br></h3>
                                <div class="cl-51 pt-1">
                                    <ul class="m-0 pt-2">
                                        <li><strong>Contact Information:</strong> Full name, postal address, including the pin code, telephone number(s), electronic mail address.</li><br>
                                        <li><strong>Order Information:</strong> Delivery information/invoice information/purchase receipt.</li><br>
                                        <li><strong>Account Information:</strong> Login information, personal information such as login name or password, security questions or answers.</li><br>
                                        <li><strong>Shopping Information:</strong> To narrow the listings down it includes; viewed products, products placed in the carts and wish lists.</li><br>
                                        <li><strong>Customer Support Details:</strong> Communications with us also provide information to us.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            
                        <div class="col-12 my-3">
                            <div class="cusGuideBoxbrdr">
                                <h3><strong class="f-20 cl-51">2. Automatically Collected Information</strong><br></h3>
                                <div class="cl-51 pt-1">
                                    Usage Data: That is the use of cookies, pixels or similar technologies to log and track IP addresses, device or browser types and interaction details.
                                </div>
                            </div>
                        </div>
            
                        <div class="col-12 my-3">
                            <div class="cusGuideBoxbrdr">
                                <h3><strong class="f-20 cl-51">3. Information from Third Parties</strong><br></h3>
                                <div class="cl-51 pt-1">
                                    <ul class="m-0 pt-2">
                                        <li><strong>Vendors and Service Providers:</strong> Banking, telecommunication, transportation, merchant services, software and analytics firms.</li><br>
                                        <li><strong>Advertising Partners:</strong> Surveys conducted from campaigns and promotions.</li><br>
                                    </ul>
                                    Any data that a user of our Services or a third party shares with us in any manner is processed in accordance with this Privacy Policy. However, it is important for you to read the privacy statements of external sources as we do not accept liability for any inaccuracies in information that may have been supplied to us by third parties.
                                </div>
                            </div>
                        </div>
            
            
            
                    </div>

                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                2. How We Collect Informationt
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">2. How We Collect Informationt</h2></div>
                
                <div class="aboutDesc">
                    Information we collect includes, but is not limited to:
                    <ul class="m-0 pt-2">
                        <li><strong>Directly from You:</strong> Information you provide while creating an account or making a purchase.</li><br>
                        <li><strong>Automatically:</strong> Data collected through cookies and tracking technologies when you visit our website.</li><br>
                        <li><strong>From third Parties:</strong> Third party services such as payment processors, analytics providers, and tracking services would provide this information.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                3. Use of Your Information
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">3. Use of Your Information</h2></div>
                
                <div class="aboutDesc">
                    The information collected is utilized for:<br>
                    <ul class="m-0 pt-2">
                        <li>Processing and fulfilling your orders.</li><br>
                        <li>Communicating with you regarding your orders or inquiries.</li><br>
                        <li>Improving the website and the customer experience.</li><br>
                        <li>Sending promotional materials and newsletters, with consent.</li><br>
                        <li>Complying with all the legal obligations.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                4. Sharing Your Information
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">4. Sharing Your Information</h2></div>
                
                <div class="aboutDesc">
                    We do not sell or rent out your personal information to any third party. But we share your information with:<br>
                    <ul class="m-0 pt-2">
                        <li><strong>Service Providers:</strong> For example, a payment processor or shipment service-where these third parties help us to run our site or business;</li><br>
                        <li><strong>Legal Compliance:</strong> Authorities should ever wish it by some law or to uphold our rights.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                5. Cookies and Tracking Technologies
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">5. Cookies and Tracking Technologies</h2></div>
                
                <div class="aboutDesc">
                    Cookies are created and maintained on our website, which enhances user experiences. Cookies are tiny pieces of information stored as files in your device and enable an analysis of web traffic alongside a customization of content. You can either accept or reject cookies through your browser.<br>
                    <h3 class="mt-3"><strong class="f-20 cl-51">Types of Cookies We Use:</strong><br></h3>
                    <ul class="m-0 pt-2">
                        <li><strong>Necessary Cookies:</strong> These are all mandatory for the website operations;</li><br>
                        <li><strong>Performance Cookies:</strong> They enable an understanding of the degree to which visitors interact with the site; and Last but not least:</li><br>
                        <li><strong>Functionality Cookies:</strong> These allow remembering of the preferable choices making the experience more tailored.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                6. Data Security
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">6. Data Security</h2></div>
                
                <div class="aboutDesc">
                    Security Measures for Personal Data Our security measures for safeguarding your personal information are myriad:<br>
                    <ul class="m-0 pt-2">
                        <li><strong>Encryption:</strong> All sensitive data sent online is encrypted, using Secure Socket Layer (SSL) technology.</li><br>
                        <li><strong>Access Controls:</strong> Only authorized personnel have access to personal information.</li><br>
                        <li><strong>Data Storage:</strong> Your information is kept on secure servers with proper security measures put into place.</li>
                    </ul>
                </div>
                
            </div>
        </div>

    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                7. Data Retention
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">7. Data Retention</h2></div>
                
                <div class="aboutDesc">
                    We keep your personal information as long as it is needed to meet the purposes defined in this policy or as may be required by law. Once the information is no longer needed, it will be deleted securely.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                8. Your Rights
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">8. Your Rights</h2></div>
                
                <div class="aboutDesc">
                    These are your rights related to your private data.<br>
                    <ul class="m-0 pt-2">
                        <li><strong>Access:</strong> You can ask to obtain a copy of the personal data we have about you.</li><br>
                        <li><strong>Correction:</strong> Ask to correct your inaccuracy or incomplete data.</li><br>
                        <li><strong>Deletion:</strong> Ask to delete your personal data sometimes.</li><br>
                        <li><strong>Opt-Out:</strong> Stop receiving marketing messages at any time.</li><br>
                    </ul>
                </div>
                Contact our care department if you wish to exercise any of these rights at <a href="mailto:care@stienhardt.com" class="cusA cusTransition cfw-Medi cl-theme" aria-label="send an email to care@stienhardt.com">care@stienhardt.com</a>             
            </div>
        </div>

    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                9. Children's Privacy
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">9. Children's Privacy</h2></div>
                
                <div class="aboutDesc">
                    Our site and its Services are not directed to anyone under the age of 18. In case we find out that we have gathered information from a child we will immediately discard it.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                10. International Users
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">10. International Users</h2></div>
                
                <div class="aboutDesc">
                    If you are a user from a country outside the United States, your information might thus be transferred to countries with a lower level of data protection. We secure our transfers by utilizing international practices that meet the particular rules and regulations of various countries.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                11. Third-Party Links
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">11. Third-Party Links</h2></div>
                
                <div class="aboutDesc">
                    This site may link to other web sites not affiliated with this site. We will not be liable for examining or evaluating such sites and will not have any other responsibility for them.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                12. Changes to This Privacy Policy
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">12. Changes to This Privacy Policy</h2></div>
                
                <div class="aboutDesc">
                    This site may link to other web sites not affiliated with this site. We will not be liable for examining or evaluating such sites and will not have any other responsibility for them.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                13. Contact Us
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">13. Contact Us</h2></div>
                
                <div class="aboutDesc">
                    If you have any questions regarding this Privacy Policy or our data practices, reach out to us:

                    <div class="row mt-4 d-flex justify-content-center align-items-center">
                        <div class="col-lg-4 col-xl-6 d-flex justify-content-center align-items-center">
                            <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/line-art-stylized-profile-face-star-shaped-pendant.png?v=1737800024" alt="Line art of a stylized profile of a face with a star shaped pendant, against a white background with text overlay." draggable="false" class="img-fluid">
                        </div>
                        <div class="col-lg-8 col-xl-6 mt-4 mt-lg-0">
                            <h2 class="heading text-start mb-4">Still need help? 
                                <a href="#" class="cusA contactUsLink">Contact Customer Service</a>
                            </h2>
                            <div class="d-flex flex-column justify-content-center align-items-start">
                                <a href="mailto:care@stienhardt.com" class="cusA hvrBold" aria-label="send an email to care@stienhardt.com">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="me-2">
                                        <path d="M19.8238 3.97348L13.7582 10L19.8238 16.0265C19.9335 15.7973 20 15.544 20 15.2734V4.72656C20 4.45598 19.9335 4.20266 19.8238 3.97348ZM18.2422 2.96875H1.75781C1.48723 2.96875 1.23391 3.03527 1.00473 3.14492L8.75719 10.8583C9.44266 11.5438 10.5573 11.5438 11.2428 10.8583L18.9953 3.14492C18.7661 3.03527 18.5128 2.96875 18.2422 2.96875ZM0.176172 3.97348C0.0665234 4.20266 0 4.45598 0 4.72656V15.2734C0 15.544 0.0665234 15.7974 0.176172 16.0265L6.24176 10L0.176172 3.97348Z" fill="#113174"/>
                                        <path d="M12.9289 10.8286L12.0705 11.6869C10.9284 12.8291 9.06992 12.8291 7.92777 11.6869L7.06949 10.8286L1.00391 16.8551C1.23309 16.9648 1.48641 17.0313 1.75699 17.0313H18.2414C18.512 17.0313 18.7653 16.9648 18.9945 16.8551L12.9289 10.8286Z" fill="#113174"/>
                                    </svg>
                                    care@stienhardt.com
                                </a>
                                <a href="tel:+19179096402" class="cusA my-3 hvrBold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="me-2">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.58203 2.91672C9.58203 2.45647 9.95512 2.08337 10.4154 2.08337C14.5576 2.08337 17.9153 5.44125 17.9153 9.58337C17.9153 10.0436 17.5423 10.4167 17.082 10.4167C16.6217 10.4167 16.2487 10.0436 16.2487 9.58337C16.2487 6.36172 13.637 3.75005 10.4154 3.75005C9.95512 3.75005 9.58203 3.37695 9.58203 2.91672ZM9.99869 5.83337C9.99869 5.37315 10.3718 5.00005 10.832 5.00005C13.1332 5.00005 14.9987 6.86553 14.9987 9.16672C14.9987 9.62696 14.6256 10 14.1654 10C13.7051 10 13.332 9.62696 13.332 9.16672C13.332 7.786 12.2128 6.66672 10.832 6.66672C10.3718 6.66672 9.99869 6.29362 9.99869 5.83337Z" fill="#113174"/>
                                        <path d="M6.92041 3.55866L6.70936 3.0838C6.42509 2.4442 6.28295 2.12439 6.04903 1.89833C5.89462 1.74912 5.71292 1.63103 5.51386 1.55053C5.21228 1.42859 4.86232 1.42859 4.16238 1.42859C3.12016 1.42859 2.59905 1.42859 2.19303 1.68162C1.94402 1.8368 1.70585 2.10026 1.57651 2.36365C1.36561 2.79305 1.41345 3.26615 1.50913 4.21236C2.30308 12.0638 6.6258 16.3866 14.4773 17.1804C15.4234 17.2762 15.8966 17.324 16.326 17.1132C16.5894 16.9839 16.8529 16.7457 17.008 16.4966C17.261 16.0906 17.261 15.5694 17.261 14.5273C17.261 13.8273 17.261 13.4773 17.1392 13.1758C17.0586 12.9768 16.9406 12.795 16.7913 12.6406C16.5652 12.4067 16.2454 12.2646 15.6059 11.9803L15.131 11.7693C14.5706 11.5202 14.2903 11.3956 14.0092 11.3719C13.7102 11.3468 13.4099 11.4025 13.1399 11.5333C12.886 11.6563 12.6691 11.8732 12.2355 12.3068C11.8088 12.7335 11.5955 12.9468 11.3176 13.0725C11.0473 13.1948 10.6674 13.2468 10.3741 13.2016C10.0727 13.1552 9.85123 13.0302 9.40832 12.7803C7.83791 11.8947 6.79502 10.8518 5.90929 9.28135C5.65943 8.83842 5.53452 8.61692 5.4881 8.3155C5.44293 8.02226 5.49491 7.64235 5.61716 7.37199C5.74279 7.09416 5.95612 6.88083 6.38278 6.45417C6.81646 6.0205 7.03331 5.80366 7.15629 5.54977C7.28712 5.27975 7.34288 4.97946 7.31771 4.68046C7.29403 4.39935 7.16951 4.11912 6.92041 3.55866Z" fill="#113174"/>
                                    </svg>
                                    +1 917-909-6402
                                </a>
                                <a href="/pages/book-an-appointment" class="cusA hvrBold site-header__book-appointment">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="me-2">
                                        <path d="M5.83268 1.66671C5.83268 1.20647 5.45958 0.833374 4.99935 0.833374C4.53912 0.833374 4.16602 1.20647 4.16602 1.66671V2.04075C4.48295 1.94022 4.82063 1.86844 5.17879 1.81638C5.38542 1.78635 5.60328 1.76234 5.83268 1.74315V1.66671Z" fill="#113174"/>
                                        <path d="M15.8327 2.04075C15.5158 1.94022 15.1781 1.86844 14.8199 1.81638C14.6133 1.78635 14.3954 1.76234 14.166 1.74315V1.66671C14.166 1.20647 14.5391 0.833374 14.9993 0.833374C15.4596 0.833374 15.8327 1.20647 15.8327 1.66671V2.04075Z" fill="#113174"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8573 1.66663H9.14267C7.51912 1.6666 6.20951 1.66658 5.17944 1.8163C4.10446 1.97254 3.214 2.30647 2.51502 3.06213C1.82458 3.80855 1.52733 4.74389 1.3868 5.87384C1.24998 6.97408 1.24998 8.37838 1.25 10.1449V10.6884C1.24998 12.4549 1.24998 13.8592 1.3868 14.9594C1.52733 16.0894 1.82458 17.0247 2.51502 17.7711C3.214 18.5268 4.10446 18.8607 5.17944 19.017C6.20952 19.1667 7.51911 19.1666 9.14267 19.1666H10.8573C12.4809 19.1666 13.7905 19.1667 14.8206 19.017C15.8956 18.8607 16.786 18.5268 17.485 17.7711C18.1754 17.0247 18.4727 16.0894 18.6132 14.9594C18.75 13.8592 18.75 12.4549 18.75 10.6884V10.1449C18.75 8.37838 18.75 6.97408 18.6132 5.87384C18.4727 4.74389 18.1754 3.80855 17.485 3.06213C16.786 2.30647 15.8956 1.97254 14.8206 1.8163C13.7905 1.66658 12.4809 1.6666 10.8573 1.66663ZM3.74819 7.49996C3.36601 7.49996 3.17492 7.49996 3.05321 7.6201C2.93151 7.74023 2.92906 7.92889 2.92417 8.30622C2.91689 8.86721 2.91667 9.49513 2.91667 10.2026V10.6306C2.91667 12.468 2.91818 13.7684 3.04073 14.7537C3.16106 15.7213 3.38553 16.2578 3.73852 16.6394C4.08297 17.0118 4.55392 17.2419 5.41917 17.3676C6.31548 17.4979 7.50354 17.5 9.20833 17.5H10.7917C12.4964 17.5 13.6845 17.4979 14.5808 17.3676C15.4461 17.2419 15.917 17.0118 16.2615 16.6394C16.6145 16.2578 16.8389 15.7213 16.9593 14.7537C17.0818 13.7684 17.0833 12.468 17.0833 10.6306V10.2026C17.0833 9.49513 17.0831 8.86721 17.0758 8.30622C17.0709 7.92889 17.0685 7.74023 16.9468 7.6201C16.8251 7.49996 16.634 7.49996 16.2518 7.49996H3.74819Z" fill="#113174"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.625 10.8333C5.625 10.258 6.09137 9.79163 6.66667 9.79163H6.67414C7.24944 9.79163 7.71581 10.258 7.71581 10.8333C7.71581 11.4086 7.24944 11.875 6.67414 11.875H6.66667C6.09137 11.875 5.625 11.4086 5.625 10.8333ZM8.95458 10.8333C8.95458 10.258 9.421 9.79163 9.99625 9.79163H10.0038C10.579 9.79163 11.0454 10.258 11.0454 10.8333C11.0454 11.4086 10.579 11.875 10.0038 11.875H9.99625C9.421 11.875 8.95458 11.4086 8.95458 10.8333ZM12.2842 10.8333C12.2842 10.258 12.7506 9.79163 13.3258 9.79163H13.3333C13.9087 9.79163 14.375 10.258 14.375 10.8333C14.375 11.4086 13.9087 11.875 13.3333 11.875H13.3258C12.7506 11.875 12.2842 11.4086 12.2842 10.8333ZM5.625 14.1666C5.625 13.5913 6.09137 13.125 6.66667 13.125H6.67414C7.24944 13.125 7.71581 13.5913 7.71581 14.1666C7.71581 14.742 7.24944 15.2083 6.67414 15.2083H6.66667C6.09137 15.2083 5.625 14.742 5.625 14.1666ZM8.95458 14.1666C8.95458 13.5913 9.421 13.125 9.99625 13.125H10.0038C10.579 13.125 11.0454 13.5913 11.0454 14.1666C11.0454 14.742 10.579 15.2083 10.0038 15.2083H9.99625C9.421 15.2083 8.95458 14.742 8.95458 14.1666Z" fill="#113174"/>
                                    </svg>
                                    Book an appointment
                                </a>
                            </div>
                        </div>
                    </div><br>

                    Thank you for choosing Stienhardt & Stones! Your privacy is important to us. This Privacy Policy is structured clearly and comprehensively while incorporating essential elements that align with industry standards and competitor practices. It should be easily accessible on the website footer for user convenience and compliance with privacy regulations like GDPR and CCPA. Feel free to adjust specific sections based on your business practices!

                </div>
                
            </div>
        </div>
        
    </div>
</Section>



{% schema %}
    {
    "name": "Privacy Policy",
    "tag": "section",
    "presets": [
      {
        "name": "Privacy Policy"
      }
    ]
  }  
{% endschema %}