
<!-- =====================================================================================================================================================
                                                                Head Content
=====================================================================================================================================================-->
<section>
    <div class="container">

        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="GuideHeading text-center">Terms and Conditions for using Stienhardt & Stones are as follows: These govern the use of the website, Stienhardt & Stones, and the purchase of goods as well as the use of services from the company. If you visit or use this site, you accept the jurisdiction of these terms:</div>
        </div>
   
    </div>
</section>


<!-- =====================================================================================================================================================
                                                                1. Agreement to Terms
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">1. Agreement to Terms</h2></div>
                
                <div class="aboutDesc">
                    Visiting and using this website confirms your reading, understanding, and agreement to these Terms and Conditions. If not, cease this immediately.
                    <!-- <ul class="m-0 pt-2">
                        <li><strong>Flexible Payment Plans:</strong> You don’t have to cough up a lump sum rather you make payments over a given time line.</li><br>
                        <li><strong>Low or No Interest Options:</strong> Depending on the plan, enjoy low or 0 % interest rates. Quick Approval Process: Anyone can apply without the risk of damaging their credit score.</li><br>
                        <li><strong>No Hidden Fees:</strong> Clear cut terms and no fine print tricks.</li><br>
                        <li><strong>High Purchase Limits:</strong> Funds for financing may be used for small, or rather big purchases without complications.</li>
                    </ul> -->
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                2. Eligibility
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">2. Eligibility</h2></div>
                
                <div class="aboutDesc">
                    This site is for users aged at least 18 years and above to use. You confirm, by the use of this site, that you are indeed an adult of legal age to form a binding contract.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                3. Permitted Use of the Website
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">3. Permitted Use of the Website</h2></div>
                
                <div class="aboutDesc">
                    By using this website you combine to refrain from using the site in a manner that infringes or breaches any laws, regulations, ordinances, rules, and the aforementioned terms herein. Prohibited activities include, but are not limited to:
                    <ul class="m-0 pt-2">
                        <li>Trying to compromise.</li><br>
                        <li>Omits to tell the truth or engages in any fraudulent activities.</li><br>
                        <li>While using the website-with the help of bots, spiders or any other automation tools or software.</li><br>
                        <li>Submitting, posting, or publishing material that is abusive, libelous, obscene, vulgar, or that violates any law.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                4. Intellectual Property
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">4. Intellectual Property</h2></div>
                
                <div class="aboutDesc">
                    All content on our website, text, designs, images, graphics, and trademarks, is owned by Stienhardt & Stones, and/or licensors. It is strictly forbidden to reproduce, publish, distribute, or commercially exploit the material without prior permission.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                5. Product Information and Pricing
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">5. Product Information and Pricing</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>Accuracy:</strong> While we strive to provide accurate descriptions, images, and prices for products, errors, and omissions may occur in the information provided.</li><br>
                        <li><strong>Currency & Tax:</strong> Prices are in [Your Currency] and include/exclude applicable taxes. Any extra fees on orders, such as shipping, duties, etc., will be disclosed during the checkout process.</li><br>
                        <li><strong>Price Change:</strong> Prices are subject to change without notice.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                6. Orders and Payment
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">6. Orders and Payment</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>Order Acceptance:</strong> An order will not be considered conclusive acceptance of that order. We reserve the right to cancel or refuse any orders.</li><br>
                        <li><strong>Payment:</strong> Available payment methods include credit/debit cards, digital wallets, and financing options (if available). Payments need to be made at checkout.</li><br>
                        <li><strong>Order Confirmation:</strong> You shall receive a confirmation email indicating successful completion of your order by Stienhardt & Stones.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                7. Shipping and Delivery
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">7. Shipping and Delivery</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>Various Methods of Delivery:</strong> We have different options available for shipping based on your needs. Delivery times depend on the chosen method and location.</li><br>
                        <li><strong>International Shipping:</strong> The buyer should pay for all duties, taxes or customs fees.</li><br>
                        <li><strong>Delays:</strong> The company is not responsible for delays caused in the course of shipping by the carrier or anyone else.</li>
                    </ul>
                    <div class="d-flex flex-column justify-content-center text-center mt-4">
                        Please refer to our Shipping Policy for full information.
                        <div class="d-block mt-2"><a href="https://stienhardt.com/pages/free-resizing" class="cusA cusBtnOne">Learn More About Shipping Policy</a></div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                8. Returns, Exchanges, and Cancellations
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">8. Returns, Exchanges, and Cancellations</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>Return Policy:</strong> The following return policy applies to some selected items, allowing for easy returns. It must be within 15 days to start a return.</li><br>
                        <li><strong>Exchange:</strong> Exchange is subject to stock availability on an item.</li><br>
                        <li><strong>Order Cancellation:</strong> The orders can be cancelled if not processed.</li>
                    </ul>
                    <div class="d-flex flex-column justify-content-center text-center mt-4">
                        For further details, refer to the Return Policy.
                        <div class="d-block mt-2"><a href="https://stienhardt.com/pages/free-returns" class="cusA cusBtnOne">Learn More About Return Policy</a></div>
                    </div>
                </div>
                
            </div>
        </div>
            
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                9. Custom and Engraved Orders
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">9. Custom and Engraved Orders</h2></div>
                
                <div class="aboutDesc">
                    Customized products or engraved products can only be returned with a 50% restocking fee towards the setting/ gold. Ensure all customization details are verified because once an order is approved, changes can not be made.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                10. Warranty
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">10. Warranty</h2></div>
                
                <div class="aboutDesc">
                    Certain products are provided with warranties, which may differ from product to product, including defects in materials and workmanship. Refer to the product-specific page for warranty matters.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                11. Conflict-Free Diamonds
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">11. Conflict-Free Diamonds</h2></div>
                
                <div class="aboutDesc">
                    Stienhardt & Stones is 100% committed to ethical sourcing. All diamonds are conflict-free and adhere to the Kimberley Process Certification Scheme.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                12. Lab-Grown Diamonds and Sustainability
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">12. Lab-Grown Diamonds and Sustainability</h2></div>
                
                <div class="aboutDesc">
                    The business-eco friendly lab-grown diamonds fulfill our sustainability goal: facilitating such solutions to consumers for whom the environment is a priority. Sustainably, ethical practices of our businesses are further elaborated on in our Sustainability Page.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                13. Ring Sizing and Resizing
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">13. Ring Sizing and Resizing</h2></div>
                
                <div class="aboutDesc">
                    We offer free resizing on some eligible purchases; a resizing fee may be required for resizing a ring after purchase depending on what our jewelers need to do in the adjustment process.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                14. Promotions and Discounts
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">14. Promotions and Discounts</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li>Eligibility- Discounts or promotions will be valid only for the indicated period.</li><br>
                        <li>Not Transferable- Depending on the specific offers, promotions cannot be exchanged for cash or used with any other offers unless otherwise stated.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                15. Third-Party Links
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">15. Third-Party Links</h2></div>
                
                <div class="aboutDesc">
                    Our site may link third spaces for convenience. Stienhardt & Stones do not endorse or assume any liability with respect to any such external sites.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                16. Prohibited Uses
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">16. Prohibited Uses</h2></div>
                
                <div class="aboutDesc">
                    You agree not to use the website for:
                    <ul class="m-0 pt-2">
                        <li>It includes any unlawful or fraudulent activity.</li><br>
                        <li>Illegally harassing, abusive, or inflicting harm on other people.</li><br>
                        <li>Viral distribution or any other type of malware.</li><br>
                        <li>The infringement of the rights of a person in relation to trade secrets, patents, trademarks or copyrights.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                17. User Accounts
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">17. User Accounts</h2></div>
                
                <div class="aboutDesc">
                    You are entirely responsible for maintaining the confidentiality of your account and all activities that occur under it if you create an account. Inform us of any unauthorized use ASAP.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                18. Limitation of Liability
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">18. Limitation of Liability</h2></div>
                
                <div class="aboutDesc">
                    The Stienhardt & Stones shall, to the maximum extent under law, NOT be liable for any direct or indirect damages, including loss of data, profits, or business interruption, that result from the usage of this website or any of its products.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                19. Dispute Resolution
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">19. Dispute Resolution</h2></div>
                
                <div class="aboutDesc">
                    <ul class="m-0 pt-2">
                        <li><strong>Governing Law:</strong> These terms are subject to the laws of the United States and the law of the state of [Your State].</li><br>
                        <li><strong>Arbitration:</strong> Any controversy arising out of the contractual agreement shall be decided by the said arbitration proceeding under the federal rule eighteen of the American Arbitration Association.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                20. Google Ads Compliance
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">20. Google Ads Compliance</h2></div>
                
                <div class="aboutDesc">
                    As part of our commitment to transparency and compliance:
                    <ul class="m-0 pt-2">
                        <li>No false or misleading representation is used in our advertisements.</li><br>
                        <li>We uphold the truth in adverts we air by providing substantiation for every claim made in the Advertisement.</li><br>
                        <li>Financial, health or political claims of the advertisement contains sensitive content which is totally in accordance with Google Ads policies.</li>
                    </ul>
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                21. Changes to Terms
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">21. Changes to Terms</h2></div>
                
                <div class="aboutDesc">
                    We reserve the right to amend these Terms and Conditions at any time. The updated conditions and terms will be posted on this page. Continuing to use our site means that you have accepted the amended conditions and terms.
                </div>
                
            </div>
        </div>
        
    </div>
</Section>


<!-- =====================================================================================================================================================
                                                                22. Contact Us
=====================================================================================================================================================-->
<Section class="mrg_tb">
    <div class="container">

        <div class="row d-flex justify-content-center align-items-start align-items-xxl-center mx-0 cusMyMrg mrg_tb">
            
            <div class="col-12">

                <div class="headingBG  mb-3"><h2 class="heading text-start">22. Contact Us</h2></div>
                
                <div class="aboutDesc">
                    For inquiries related to these Terms and Conditions contact:

                    <div class="row mt-4 d-flex justify-content-center align-items-center">
                        <div class="col-lg-4 col-xl-6 d-flex justify-content-center align-items-center">
                            <img src="https://cdn.shopify.com/s/files/1/0708/5876/8690/files/line-art-stylized-profile-face-star-shaped-pendant.png?v=1737800024" alt="Line art of a stylized profile of a face with a star shaped pendant, against a white background with text overlay." draggable="false" class="img-fluid">
                        </div>
                        <div class="col-lg-8 col-xl-6 mt-4 mt-lg-0">
                            <h2 class="heading text-start mb-4">Still need help? 
                                <a href="#" class="cusA contactUsLink">Contact Customer Service</a>
                            </h2>
                            <div class="d-flex flex-column justify-content-center align-items-start">
                                <a href="mailto:care@stienhardt.com" class="cusA hvrBold" aria-label="send an email to care@stienhardt.com">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="me-2">
                                        <path d="M19.8238 3.97348L13.7582 10L19.8238 16.0265C19.9335 15.7973 20 15.544 20 15.2734V4.72656C20 4.45598 19.9335 4.20266 19.8238 3.97348ZM18.2422 2.96875H1.75781C1.48723 2.96875 1.23391 3.03527 1.00473 3.14492L8.75719 10.8583C9.44266 11.5438 10.5573 11.5438 11.2428 10.8583L18.9953 3.14492C18.7661 3.03527 18.5128 2.96875 18.2422 2.96875ZM0.176172 3.97348C0.0665234 4.20266 0 4.45598 0 4.72656V15.2734C0 15.544 0.0665234 15.7974 0.176172 16.0265L6.24176 10L0.176172 3.97348Z" fill="#113174"/>
                                        <path d="M12.9289 10.8286L12.0705 11.6869C10.9284 12.8291 9.06992 12.8291 7.92777 11.6869L7.06949 10.8286L1.00391 16.8551C1.23309 16.9648 1.48641 17.0313 1.75699 17.0313H18.2414C18.512 17.0313 18.7653 16.9648 18.9945 16.8551L12.9289 10.8286Z" fill="#113174"/>
                                    </svg>
                                    care@stienhardt.com
                                </a>
                                <a href="tel:+19179096402" class="cusA my-3 hvrBold">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="me-2">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.58203 2.91672C9.58203 2.45647 9.95512 2.08337 10.4154 2.08337C14.5576 2.08337 17.9153 5.44125 17.9153 9.58337C17.9153 10.0436 17.5423 10.4167 17.082 10.4167C16.6217 10.4167 16.2487 10.0436 16.2487 9.58337C16.2487 6.36172 13.637 3.75005 10.4154 3.75005C9.95512 3.75005 9.58203 3.37695 9.58203 2.91672ZM9.99869 5.83337C9.99869 5.37315 10.3718 5.00005 10.832 5.00005C13.1332 5.00005 14.9987 6.86553 14.9987 9.16672C14.9987 9.62696 14.6256 10 14.1654 10C13.7051 10 13.332 9.62696 13.332 9.16672C13.332 7.786 12.2128 6.66672 10.832 6.66672C10.3718 6.66672 9.99869 6.29362 9.99869 5.83337Z" fill="#113174"/>
                                        <path d="M6.92041 3.55866L6.70936 3.0838C6.42509 2.4442 6.28295 2.12439 6.04903 1.89833C5.89462 1.74912 5.71292 1.63103 5.51386 1.55053C5.21228 1.42859 4.86232 1.42859 4.16238 1.42859C3.12016 1.42859 2.59905 1.42859 2.19303 1.68162C1.94402 1.8368 1.70585 2.10026 1.57651 2.36365C1.36561 2.79305 1.41345 3.26615 1.50913 4.21236C2.30308 12.0638 6.6258 16.3866 14.4773 17.1804C15.4234 17.2762 15.8966 17.324 16.326 17.1132C16.5894 16.9839 16.8529 16.7457 17.008 16.4966C17.261 16.0906 17.261 15.5694 17.261 14.5273C17.261 13.8273 17.261 13.4773 17.1392 13.1758C17.0586 12.9768 16.9406 12.795 16.7913 12.6406C16.5652 12.4067 16.2454 12.2646 15.6059 11.9803L15.131 11.7693C14.5706 11.5202 14.2903 11.3956 14.0092 11.3719C13.7102 11.3468 13.4099 11.4025 13.1399 11.5333C12.886 11.6563 12.6691 11.8732 12.2355 12.3068C11.8088 12.7335 11.5955 12.9468 11.3176 13.0725C11.0473 13.1948 10.6674 13.2468 10.3741 13.2016C10.0727 13.1552 9.85123 13.0302 9.40832 12.7803C7.83791 11.8947 6.79502 10.8518 5.90929 9.28135C5.65943 8.83842 5.53452 8.61692 5.4881 8.3155C5.44293 8.02226 5.49491 7.64235 5.61716 7.37199C5.74279 7.09416 5.95612 6.88083 6.38278 6.45417C6.81646 6.0205 7.03331 5.80366 7.15629 5.54977C7.28712 5.27975 7.34288 4.97946 7.31771 4.68046C7.29403 4.39935 7.16951 4.11912 6.92041 3.55866Z" fill="#113174"/>
                                    </svg>
                                    +1 917-909-6402
                                </a>
                                <a href="/pages/book-an-appointment" class="cusA hvrBold site-header__book-appointment">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" class="me-2">
                                        <path d="M5.83268 1.66671C5.83268 1.20647 5.45958 0.833374 4.99935 0.833374C4.53912 0.833374 4.16602 1.20647 4.16602 1.66671V2.04075C4.48295 1.94022 4.82063 1.86844 5.17879 1.81638C5.38542 1.78635 5.60328 1.76234 5.83268 1.74315V1.66671Z" fill="#113174"/>
                                        <path d="M15.8327 2.04075C15.5158 1.94022 15.1781 1.86844 14.8199 1.81638C14.6133 1.78635 14.3954 1.76234 14.166 1.74315V1.66671C14.166 1.20647 14.5391 0.833374 14.9993 0.833374C15.4596 0.833374 15.8327 1.20647 15.8327 1.66671V2.04075Z" fill="#113174"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8573 1.66663H9.14267C7.51912 1.6666 6.20951 1.66658 5.17944 1.8163C4.10446 1.97254 3.214 2.30647 2.51502 3.06213C1.82458 3.80855 1.52733 4.74389 1.3868 5.87384C1.24998 6.97408 1.24998 8.37838 1.25 10.1449V10.6884C1.24998 12.4549 1.24998 13.8592 1.3868 14.9594C1.52733 16.0894 1.82458 17.0247 2.51502 17.7711C3.214 18.5268 4.10446 18.8607 5.17944 19.017C6.20952 19.1667 7.51911 19.1666 9.14267 19.1666H10.8573C12.4809 19.1666 13.7905 19.1667 14.8206 19.017C15.8956 18.8607 16.786 18.5268 17.485 17.7711C18.1754 17.0247 18.4727 16.0894 18.6132 14.9594C18.75 13.8592 18.75 12.4549 18.75 10.6884V10.1449C18.75 8.37838 18.75 6.97408 18.6132 5.87384C18.4727 4.74389 18.1754 3.80855 17.485 3.06213C16.786 2.30647 15.8956 1.97254 14.8206 1.8163C13.7905 1.66658 12.4809 1.6666 10.8573 1.66663ZM3.74819 7.49996C3.36601 7.49996 3.17492 7.49996 3.05321 7.6201C2.93151 7.74023 2.92906 7.92889 2.92417 8.30622C2.91689 8.86721 2.91667 9.49513 2.91667 10.2026V10.6306C2.91667 12.468 2.91818 13.7684 3.04073 14.7537C3.16106 15.7213 3.38553 16.2578 3.73852 16.6394C4.08297 17.0118 4.55392 17.2419 5.41917 17.3676C6.31548 17.4979 7.50354 17.5 9.20833 17.5H10.7917C12.4964 17.5 13.6845 17.4979 14.5808 17.3676C15.4461 17.2419 15.917 17.0118 16.2615 16.6394C16.6145 16.2578 16.8389 15.7213 16.9593 14.7537C17.0818 13.7684 17.0833 12.468 17.0833 10.6306V10.2026C17.0833 9.49513 17.0831 8.86721 17.0758 8.30622C17.0709 7.92889 17.0685 7.74023 16.9468 7.6201C16.8251 7.49996 16.634 7.49996 16.2518 7.49996H3.74819Z" fill="#113174"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.625 10.8333C5.625 10.258 6.09137 9.79163 6.66667 9.79163H6.67414C7.24944 9.79163 7.71581 10.258 7.71581 10.8333C7.71581 11.4086 7.24944 11.875 6.67414 11.875H6.66667C6.09137 11.875 5.625 11.4086 5.625 10.8333ZM8.95458 10.8333C8.95458 10.258 9.421 9.79163 9.99625 9.79163H10.0038C10.579 9.79163 11.0454 10.258 11.0454 10.8333C11.0454 11.4086 10.579 11.875 10.0038 11.875H9.99625C9.421 11.875 8.95458 11.4086 8.95458 10.8333ZM12.2842 10.8333C12.2842 10.258 12.7506 9.79163 13.3258 9.79163H13.3333C13.9087 9.79163 14.375 10.258 14.375 10.8333C14.375 11.4086 13.9087 11.875 13.3333 11.875H13.3258C12.7506 11.875 12.2842 11.4086 12.2842 10.8333ZM5.625 14.1666C5.625 13.5913 6.09137 13.125 6.66667 13.125H6.67414C7.24944 13.125 7.71581 13.5913 7.71581 14.1666C7.71581 14.742 7.24944 15.2083 6.67414 15.2083H6.66667C6.09137 15.2083 5.625 14.742 5.625 14.1666ZM8.95458 14.1666C8.95458 13.5913 9.421 13.125 9.99625 13.125H10.0038C10.579 13.125 11.0454 13.5913 11.0454 14.1666C11.0454 14.742 10.579 15.2083 10.0038 15.2083H9.99625C9.421 15.2083 8.95458 14.742 8.95458 14.1666Z" fill="#113174"/>
                                    </svg>
                                    Book an appointment
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
        
    </div>
</Section>



{% schema %}
    {
    "name": "Terms & Conditions",
    "tag": "section",
    "presets": [
      {
        "name": "Terms & Conditions"
      }
    ]
  }  
{% endschema %}