{%- ########################################################################## 
# Label: Display image
# Returns: an image object or nil(if no selection has been made)
# Image Properties: https://shopify.dev/api/liquid/objects#image
# Image Filters: https://shopify.dev/api/liquid/filters#image_tag, https://shopify.dev/api/liquid/filters#image_url
########################################################################## -%}
{%- assign display_image = section.settings.display_image -%}
<style>
.image-text-row h2 {margin-bottom: 50px;}
.image-text-row h3 {margin-bottom: 30px;}
.image-text-row p {font-size: 28px;}
@media (min-width: 750px) {
    .image-text-row .grid {margin-left: -50px;}
    .image-text-row .grid__item {padding-left: 50px;}
    .image-text-row .grid__item-image.align-right {order: 2;}
}
@media (max-width: 749px) {
    .image-text-row h2 {
        padding: 0 20px;
        margin: 30px 0 20px;
    }
    .image-text-row .grid__item-content {padding: 40px 20px;}
    .image-text-row h3 {margin-bottom: 20px;}
    .image-text-row p {font-size: 18px;}
}
</style>
<div class="page-width sm-pd-0">
    <div class="image-text-row"><h2 class="section-header text-center">{{ section.settings.maindescription }}</h2>
      <div class="grid grid--no-gutters-sm flex-md">
            <div class="grid__item medium-up--one-half grid__item-image  align-left">                
                <div class="image-wrapper absolute-image-wrapper" style="padding-top:99.29906542056074%;">
                    <img loading="lazy" class="lazyautosizes ls-is-cached lazyloaded" src="{{ display_image | image_url: width: display_image.width }}"  data-aspectratio="1.0070588235294118" data-sizes="auto" alt="">
                </div>             
            </div>
            <div class="grid__item medium-up--one-half grid__item-content">                
                  <h3 class="text-uppercase">{{ section.settings.heading }}</h3>         
                   <p>{{ section.settings.description }}</p>          
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
  "name": "We are different",
  "class": "image-text-row-section",
  "tag": "section",
  "settings": [
    {
      "type": "textarea",
      "id": "maindescription",
      "label": "Section heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "A little about us…"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "image_picker",
      "id": "display_image",
      "label": "Display image"
    }
  ],
  "presets": [
    {
      "name": "We are different"
    }
  ]
}  
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}